<div class="fullcontain">
    <div class="loginHolder">
        <form #resetpassword="ngForm" (ngSubmit)="resetpassword.form.valid && resetsubmit(resetpassword)">
            <p>reset your password</p>
            <div class="form-group" [ngClass]="{ 'has-error': resetpassword.password && !password.valid }">
                <input type="password" placeholder="Password" minlength="6" class="form-control" name="password" [(ngModel)]="reset.password" #password="ngModel" required />
                <div *ngIf="resetpassword.submitted && password.errors" [ngClass]="'error'">
                    <div *ngIf="password.errors.minlength" class="help-block">password Minlength 6 </div>
                    <div *ngIf="password.errors.required" class="help-block">password Required </div>
                </div>
            </div>


            <div class="form-group" [ngClass]="{ 'has-error': resetpassword.confirmpass && !confirmpass.valid }">
                <input type="password" placeholder="confirm password" validateEqual="password" class="form-control" name="confirmpass" [(ngModel)]="reset.confirmPassword" #confirmpass="ngModel" required />

                <div *ngIf="resetpassword.submitted && confirmpass.errors" [ngClass]="'error'">
                    <div *ngIf="confirmpass.errors.minlength" class="help-block">password Minlength 6 </div>
                    <div *ngIf="confirmpass.errors.required" class="help-block">password Required </div>

                </div>

                <div *ngIf="paswordErrors">Password MisMatch</div>


            </div>

            <div class="form-group">
                <button class="btn btn-login">Submit</button>

            </div>

        </form>
    </div>
</div>