.listspace-container{width:770px; margin:0 auto}

.topheaders{
  @include float($ctr);
  padding:30px 0;
}

.tiletoptext{
  @include float($ctr);
 color:$text;
 margin-bottom:9px;
} 

.tiletopsubtext{
  @include float($ctr);
 color:$text2;
} 


.listspace{
  @include float($ltr);
  background:#F5F5F5;
  padding:30px 0;
}

.list-holding{
  @include float($ltr);
}

.listngdivs{
  @include float($ltr);
  padding-bottom:30px;
}

.type-titel{
  @include float($ltr);
  color:$text;
  text-transform:capitalize;
  @include semi;
  font-size:15px;
  margin-bottom:5px;
}

.listseplte{
float:$ltr;
background:#fff;
  border:1px solid #ccc;
  > li{float:$ltr;
  button{
   background: #fff;
    border: medium none;
     padding: 25px 33px;
     outline:none;
    border-right:1px solid #ccc;
&:hover{background: #f1f1f1}
    > i{

    font-size:21px;
    color:$theme;
    }

    > label{
    font-weight:normal;
     margin: 0 0 0 15px;
    color:$text;
      font-size: 15px;
    }
  }

  }


}

.listseplte > li select.tyepbtn{
  
    background: #fff;
    border: medium none;
    height: 70px;
    line-height: 50px;
    padding: 0 22px;
     @include appearance(none);

    &:hover{background: #f1f1f1}
}

.select-accomodate{
 height: 57px;
    width: 105px;
    border:none;
     @include appearance(none);
}

.Accommodate li i{
    font-size: 19px;
    padding: 0 32px;
    color:$theme;
}

.listseplte input[type="text"]{
    border: medium none;
    height: 38px;
    width: 270px;
    text-align:$ltr;padding:0 10px;outline:none;
}
.serchbx{
  border:1px solid #ccc;
}

.City .listseplte{
  padding:20px 20px;

  i{
   display: inline-block;
    font-size: 23px;
    margin: 7px 5px 0 15px;
    color:$theme;
    float:$ltr;
  }
}



/*------------------condition cs-----------------------*/




@if $ltr == 'right' {
  .listseplte > li button{border-left: 1px solid lighten($text2, 30%); border-right:none;}
}
@else{
}

