.lisiting-header {
    @include float($ltr);
    background: $text;
    padding: 12px 0;
    font-size: ($basefont - 1);
    color: lighten($text2, 30%);
}

.listtoptext {
    @include float($ltr);
    color: #fff;
    a {
        margin: 0 7px;
        color: lighten($text2, 30%);
    }
}

.listingleft {
    background: #f5f5f5 none repeat scroll 0 0;
    border-right: medium none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 77px;
    width: 224px;
    z-index: 10;
}

.listsidebar {
    height: calc(100% - 200px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 25px 0;
    >li {
        @include float($ltr);
        &.listing-sideheadeing {
            @include float($ltr);
            padding: 9px 21px;
            color: lighten($text2, 10%);
            font-size: ($basefont);
        }
        &.active>a {
            background: #EDEFED;
            @include semi;
            color: $text;
        }
        >a {
            @include float($ltr);
            padding: 12px 21px;
            color: $text2;
            font-size: ($basefont + 2);
            >i {
                float: $rtl;
            }
        }
    }
}

.contentdetailholder {
    @include float($ltr);
    padding: 30px;
}

.listingtopheadeing {
    @include float($ltr);
    border-bottom: 1px solid #ccc;
    padding: 0 0 30px;
}

.listin-mainheding {
    color: $text;
    @include float($ltr);
    margin: 10px 0;
}

.listin-subheding {
    color: $text2;
    @include float($ltr);
    font-size: ($basefont + 1);
}

.listing-info {
    @include float($ltr);
}

.listcentering {
    width: 370px;
    margin: 70px auto 0 auto;
}

.svebtn {
    position: fixed;
    top: 16px;
    z-index: 99;
    right: 40px;
    color: #9b9d9e;
    background: #fff;
    font-size: 24px;
    border: none;
}

.listingpage-full {
    @include float($ltr);
    overflow: visible;
    position: relative;
    overflow-y: visible;
    background: #fdfdfd;
    .tab-content {
        height: 85%;
        margin-left: 224px;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        z-index: 1;
    }
}

.stepstoclose {
    background: #f5f5f5 none repeat scroll 0 0;
    border-top: 1px solid #e0e0e0;
    bottom: 0;
    height: 200px;
    padding: 35px 30px;
    position: absolute;
    width: 224px;
}

.bgwhite {
    background: #fff;
}

.informtnlist {
    @include display;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0px 20px 40px 20px;
    width: 300px;
    right: 100px;
    li {
        float: left;
        width: 100%;
        margin: 0 0 20px 0;
    }
}

.lidt-infoheade {
    @include float($ctr);
    color: $text;
    margin-bottom: 10px;
}

.listing-info {
    @include display;
    padding: 90px 0 0;
    position: relative;
}

.list-subs {
    font-size: ($basefont + 1);
    @include float($ltr);
    color: $text2;
}

.idealt {
    @include display;
    background: #48a9e7;
    height: 50px;
    width: 50px;
    position: relative;
    margin: -30px 0 6px 0;
    color: #fff;
    border-radius: 50%;
    top: -8px;
    >i {
        font-size: 35px;
        margin: 4px 0 0;
    }
}


/*---------------------------------step 1 BASIC------------------------*/

.listseltion {
    @include float($ltr);
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

.subtiteles {
    @include float($ltr);
    color: $text;
    font-size: ($basefont + 5);
    margin-bottom: 10px;
}

.comitlist>li {
    float: $ltr;
    margin: 10px 0;
    text-align: $ltr;
    >span {
        @include float($ltr);
        color: $text;
        font-size: ($basefont + 1);
        margin-bottom: 5px;
    }
    >select {
        height: 40px;
        line-height: 29px;
        width: 100%;
        padding: 7px 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        text-align: $ltr;
    }
    >input[type="text"] {
        height: 45px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 10px;
        text-align: $ltr;
    }
    >textarea {
        height: 190px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 10px;
        text-align: $ltr;
    }
}

.nxtbtn {
    font-size: ($basefont + 3);
    padding: 5px 30px;
    float: $rtl;
}

.comettext {
    float: $rtl;
    color: $text2;
    font-size: ($basefont - 1);
}

.backbtn {
    float: $ltr;
    @include semi;
    line-height: 35px;
}

.lisiting-status {
    background: #f5f5f5;
    height: 10px;
    margin: -1px 0 0 0;
    float: left;
    width: 100%;
    position: fixed;
    top: 68px;
    z-index: 9;
    span {
        background: #00a699;
        height: 10px;
        margin: 0px 0 0 0;
        width: 78%;
        float: left;
        border-radius: 0 13px 14px 0;
    }
}

.hostdrop p-dropdown {
    float: left;
    width: 47.3%;
    margin: 0 5px 10px 5px;
}

.addressInput input#autocomplete {
    border-radius: 0;
    box-shadow: none;
}

.form-group.hostdrop {
    margin: 0 -5px;
}

.comitlist.checklist li {
    margin: 5px 0;
    >span {
        float: $ltr;
        width: auto;
    }
}

.comitlist.checklist li input[type="checkbox"] {
    float: $ltr;
    width: auto;
    margin: 5px 9px 0 0;
}

.listiongfooter {
    @include float($ltr);
    background: $text;
    padding: 15px 0;
}

.fotermenu {
    @include display;
    >li {
        float: $ltr;
        &:last-child a {
            border: none
        }
        >a {
            border-right: 1px solid #fff;
            color: #fff;
            line-height: 13px;
            padding: 0 10px;
            line-height: 36px;
        }
    }
}

.langufooter {
    border: 1px solid #ccc;
    height: 35px;
    width: 100%;
}

.logocontenet {
    line-height: 36px;
    color: #fff;
}

.photupldsection {
    @include float($ltr);
    margin-top: 10px;
}

.uplodsection {
    float: $ltr;
    >input {
        display: none;
    }
}

.uplodsection>label {
    border: 1px solid #cacaca;
    font-weight: normal;
    color: $text;
    padding: 9px 34px;
    font-size: $basefont + 2;
}

.uplodsection>label i {
    float: $ltr;
    font-size: 25px;
    margin: 0 11px -2px 0;
}


/*---------------------------------step 4 PHOTO------------------------*/

.photolist {
    @include float($ltr);
    >li {
        float: $ltr;
        margin: 10px 13px;
        width: 175px;
        box-shadow: 0 0 2px 1px #ccc;
    }
}

.imgtop {
    @include float($ltr);
    background: #ccc;
    height: 110px;
    >img {
        width: 100%;
        height: 100%;
    }
}

.imgbottom {
    @include float($ltr);
    padding: 10px;
    textarea {
        @include float($ltr);
        border: 1px solid #ccc;
        height: 100px;
        padding: 5px
    }
}

.curencydiv {
    @include float($ltr);
    border: 1px solid #ccc;
    >span {
        background: #edefed none repeat scroll 0 0;
        float: left;
        padding: 9px 17px;
        border-right: 1px solid #ccc;
    }
    >input[type="text"] {
        border: medium none;
        padding: 7px 10px;
        width: 100px;
        &:focus {
            outline: none;
        }
    }
}

.pricetip {
    color: $red;
    @include semi;
    font-weight: normal;
    margin-top: 5px;
}

.checklist li label {
    font-weight: normal;
    color: $text;
    margin: 2px 0 0 0
}

.hiddelist {
    display: none
}

.calenter {
    @include display;
    >li {
        border: 1px solid #ccc;
        float: left;
        height: 250px;
        margin: 30px 20px;
        padding: 60px 26px;
        width: 210px;
        &:hover {
            background: #efefef;
            cursor: pointer;
        }
    }
}

.calenter .fa {
    font-size: 60px;
    color: $red;
}

.calenderbottom span {
    @include display;
}

.mntxt {
    margin-top: 10px;
    font-size: $basefont + 2;
}

.anytxt {
    color: $text2;
    @include semi;
    margin-top: 5px;
}

ul.comitlist.checklist {
    margin: 0 -15px;
}

.calenter .fa.fa-check-circle-o {
    color: $text2;
    background: #fff none repeat scroll 0 0;
    bottom: -16px;
    font-size: 39px;
    position: absolute;
    right: -22px;
}

.calendersector {
    float: left;
    width: 100%;
    .ui-datepicker .ui-datepicker-header {
        position: relative;
        padding: 10px 0;
    }
    .ui-datepicker .ui-datepicker-header a {
        color: #1b1d1f;
        margin: -7px 0 0 0;
        font-size: 28px;
    }
    .ui-datepicker.ui-widget .ui-datepicker-calendar thead th {
        background-color: #f6f8fa;
        padding: 15px;
    }
    .ui-datepicker.ui-widget .ui-datepicker-calendar td a {
        padding: 18px;
    }
    .ui-datepicker {
        width: 39em;
    }
}

.calholder>label {
    position: relative
}

.listyourspacepage {
    footer,
    div#navbar,
    .searchInputHeader {
        display: none !important;
    }
    .borderbtn {
        border-radius: 3px;
    }
    app-login-header {
        @include float($ltr);
        height: 68px;
        .navbar {
            position: fixed;
            background: #fff;
            width: 100%;
            z-index: 99;
        }
    }
}

.listspacebtnHolder {
    @include float($ltr);
    margin-top: 20px;
}


/*------------------condition cs-----------------------*/

@if $ltr=='right' {
    .listingpage-full .tab-content {
        margin-right: 224px;
        margin-left: auto;
    }
    .listingleft {
        right: 0;
        left: auto;
    }
    .informtnlist {
        left: 100px;
        right: auto;
    }
}

@else {}