<form (ngSubmit)="onSubmitProduct(productForm , 'save');" #productForm="ngForm">
    <button type="button" (click)="onSubmitProduct(productForm)" class="btn btn-success btn-block">Save And Exit</button>
    <p-tabView [activeIndex]="index" orientation="left">
        <p-tabPanel header="Listing">
            <div class="form-group">
                <label for="ProductType">ProductType:</label>
                <p-dropdown [options]="propertytype" [(ngModel)]="products.ProductType" #ProductType="ngModel" name="ProductType"></p-dropdown>
                <input type="text" [(ngModel)]="products._id" #_id="ngModel" class="form-control hide" name="_id" id="_id" required />

            </div>
            <div class="form-group">
                <label for="RoomType">RoomType:</label>
                <p-dropdown [options]="roomtype" [(ngModel)]="products.RoomType" #RoomType="ngModel" name="RoomType" id="RoomType" required></p-dropdown>
            </div>
            <div class="form-group">
                <label for="Accommodates">Accommodates:</label>
                <p-dropdown [options]="accommodates" [(ngModel)]="products.Accommodates" #Accommodates="ngModel" name="Accommodates" id="Accommodates" required></p-dropdown>
            </div>
            <div class="form-group">
                <label for="City">City:</label>
                <input type="text" [(ngModel)]="products.City" #City="ngModel" class="form-control" name="City" id="City" required [options]='options' (setAddress)="getAddress($event)" (FormatAddress)="getFormattedAddress($event)" (street_number)='street_number=$event'
                    (street)='street=$event' (city)='city=$event' (state)='state=$event' (district)='district=$event' (country)='country=$event' (postal_code)='postal_code=$event' (lat)='lat=$event' (lng)='lng=$event' (adr_address)='adr_address=$event' (name)='name=$event'
                    (place_id)='place_id=$event' (types)='types=$event' (url)='url=$event' (utc_offset)='utc_offset=$event' (vicinity)='vicinity=$event' (photos)='photos=$event' (CountryCodes)='CountryCodes=$event' id="autocomplete" angularGooglePlace/>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Basic">
            <div ngModelGroup="Rooms" #Rooms="ngModelGroup" required>
                <h4>Rooms and Beds</h4>
                <div class="form-group">
                    <label for="Bedrooms">Bedrooms</label>
                    <p-dropdown [options]="accommodates" [(ngModel)]="products.Bedrooms" #Bedrooms="ngModel" name="Bedrooms" id="Bedrooms" required></p-dropdown>

                </div>
                <div class="form-group">
                    <label for="Beds">Beds</label>
                    <p-dropdown [options]="accommodates" [(ngModel)]="products.Beds" #Beds="ngModel" name="Beds" id="Beds" required></p-dropdown>
                </div>
                <div class="form-group">
                    <label for="Bathrooms">Bathrooms</label>
                    <p-dropdown [options]="bathroom" [(ngModel)]="products.Bathrooms" #Bathrooms="ngModel" name="Bathrooms" id="Bathrooms" required></p-dropdown>
                </div>
            </div>
            <div ngModelGroup="Listing" #Listing="ngModelGroup" required>
                <br>
                <h4>Listing</h4>
                <div class="form-group">
                    <label for="ProductType">ProductType:</label>
                    <p-dropdown [options]="propertytype" [(ngModel)]="products.ProductType" #ProductType="ngModel" name="ProductType"></p-dropdown>

                </div>
                <div class="form-group">
                    <label for="RoomType">RoomType:</label>
                    <p-dropdown [options]="roomtype" [(ngModel)]="products.RoomType" #RoomType="ngModel" name="RoomType" id="RoomType" required></p-dropdown>
                </div>
                <div class="form-group">
                    <label for="Accommodates">Accommodates:</label>
                    <p-dropdown [options]="accommodates" [(ngModel)]="products.Accommodates" #Accommodates="ngModel" name="Accommodates" id="Accommodates" required></p-dropdown>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Description">
            <div ngModelGroup="Description" #Description="ngModelGroup" required>
                <div class="form-group">
                    <label for="Title">Title</label>
                    <input type="text" [(ngModel)]="products.Title" #Title="ngModel" class="form-control" name="Title" id="Title" required />
                </div>
                <div class="form-group">
                    <label for="Summary">Summary</label>
                    <textarea [(ngModel)]="products.Summary" #Summary="ngModel" class="form-control" name="Summary" id="Summary" required></textarea>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Location">
            <div ngModelGroup="Location" #Location="ngModelGroup" required>
                <div class="form-group">
                    <label for="Country">Country</label>
                    <input type="text" [(ngModel)]="products.Country" #Country="ngModel" class="form-control" name="Country" id="Country" required />
                </div>
                <div class="form-group">
                    <label for="Street1">Street1</label>
                    <input type="text" [(ngModel)]="products.Street1" #Street1="ngModel" class="form-control" name="Street1" id="Street1" required />
                </div>
                <div class="form-group">
                    <label for="Street2">Street2</label>
                    <input type="text" [(ngModel)]="products.Street2" #Street2="ngModel" class="form-control" name="Street2" id="Street2" required />
                </div>
                <div class="form-group">
                    <label for="City">City</label>
                    <input type="text" [(ngModel)]="products.City" #City="ngModel" class="form-control" name="City" id="City" required />
                </div>
                <div class="form-group">
                    <label for="State">State</label>
                    <input type="text" [(ngModel)]="products.State" #State="ngModel" class="form-control" name="State" id="State" required />
                </div>
                <div class="form-group">
                    <label for="Zipcode">Zipcode</label>
                    <input type="text" [(ngModel)]="products.Zipcode" #Zipcode="ngModel" class="form-control" name="Zipcode" id="Zipcode" required />
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Amenities">
            <div ngModelGroup="Amenities" #Amenities="ngModelGroup" required>
                <h2>Common Amenities</h2>
                <p-checkbox name="Common" value="Essentials" label="Essentials" [(ngModel)]="products.Common"></p-checkbox>
                <p-checkbox name="Common" value="Air Conditioning" label="Air Conditioning" [(ngModel)]="products.Common"></p-checkbox>
                <h2>Additional Amenities</h2>
                <p-checkbox name="Additional" value="Heating" label="Heating" [(ngModel)]="products.Additional"></p-checkbox>
                <p-checkbox name="Additional" value="Internet" label="Internet" [(ngModel)]="products.Additional"></p-checkbox>

            </div>

        </p-tabPanel>
        <p-tabPanel header="Photos">
            <p-fileUpload name="myfile[]" accept="image/*" (onUpload)="onBasicUpload($event)" url="http://localhost:4000/route/upload"></p-fileUpload>
            <p-multiSelect [options]="accommodates" [(ngModel)]="products.Photos" #Photos="ngModel" optionLabel="name" name="Photos" id="Photos"></p-multiSelect>

            <div *ngFor="let product of products.Photos">
                <span>{{product.originalname}}</span>
                <img *ngIf="product.filename" width="100px" src="./http://localhost:4000/{{product.filename}}" />
            </div>
        </p-tabPanel>
        <p-tabPanel header="Pricing">


            <div ngModelGroup="Pricing" #Pricing="ngModelGroup" required>
                <div class="form-group">
                    <label for="Baseprice">Baseprice</label>
                    <input type="text" [(ngModel)]="products.Baseprice" #Baseprice="ngModel" class="form-control" name="Baseprice" id="Baseprice" required />
                </div>
                <div ngModelGroup="Longtermprice" #Longtermprice="ngModelGroup" required>
                    <div class="form-group">
                        <label for="Weekly">Weekly</label>
                        <input type="text" [(ngModel)]="products.Weekly" #Weekly="ngModel" class="form-control" name="Weekly" id="Weekly" required />
                    </div>
                    <div class="form-group">
                        <label for="Montly">Montly</label>
                        <input type="text" [(ngModel)]="products.Montly" #Montly="ngModel" class="form-control" name="Montly" id="Montly" required />
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Calender">
            <div class="form-group">
                <label for="UnavailabeDates">UnavailabeDates</label>
                <p-calendar selectionMode="multiple" [(ngModel)]="products.UnavailabeDates" #UnavailabeDates="ngModel" class="form-control" name="UnavailabeDates" id="UnavailabeDates" required></p-calendar>
            </div>
        </p-tabPanel>
    </p-tabView>
    <button type="button" pButton icon="fa fa-chevron-up" (click)="openPrev()"><i class="fa fa-chevron-up"></i> Previous</button>
    <button type="button" pButton icon="fa fa-chevron-down" (click)="openNext()"><i class="fa fa-chevron-down"></i> Next</button>
    <button type="button" (click)="onSubmitProduct(productForm , 'submit')" *ngIf="productForm.form.valid" class="btn btn-success btn-block">Pay and Submit for approval</button>

</form>