<div class="">

    <!--//////////////////////////////////////////////////account header starts///////////////////-->
    <section class="dashboardbg">
        <div class="dashboardheader">
            <div class="dashboardcontainer">
                <ul class="dashbordmenu">
                    <li routerLinkActive="active"><a routerLink="/user/dashboard"><i class="dasic ci1"></i><span>Popular</span></a></li>
                    <li routerLinkActive="active"><a routerLink="/user/inbox"><i class="dasic ci2"></i><span>Picks</span></a></li>
                    <li routerLinkActive="active"><a routerLink="/user/listing"><i class="dasic ci3"></i><span>Wishlist</span></a></li>


                </ul>
            </div>
        </div>

    </section>


    <!--//////////////////////////////////////////////////account header Ends///////////////////-->


    <router-outlet></router-outlet>

</div>