<!--rightpannel-->
<div class="panel panel-default">
    <form #changepass="ngForm" (ngSubmit)="changepass.form.valid && onSubmitForm(changepass);" class="changepass">
        <div class="panel-heading"><i class="imgcal"><img src="images/lk.png"></i> Change Your Password </div>
        <div class="panel-body">

            <p class="sbstxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ornare massa lorem,</p>



            <div *ngIf="password" class="fonm-holder">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <label class="optext">Old Password:</label>
                        <input required minlength="6" [(ngModel)]="password.password" #password="ngModel" name="password" id="password" type="password">
                    </div>
                    <div *ngIf="changepass.submitted && password.errors" required [ngClass]="'error'">
                        <div *ngIf="password.errors.minlength" class="help-block">password Minlength 6 </div>
                        <div *ngIf="password.errors.required" class="help-block">password Required </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <label class="optext">New Password:</label>
                        <input [(ngModel)]="password.newpassword" minlength="6" required #newpassword="ngModel" name="newpassword" id="newpassword" type="password">
                    </div>

                    <div *ngIf="changepass.submitted && newpassword.errors" required [ngClass]="'error'">
                        <div *ngIf="newpassword.errors.minlength" class="help-block">password Minlength 6 </div>
                        <div *ngIf="newpassword.errors.required" class="help-block">New password Required </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <label class="optext">Confirm Password:</label>
                        <input [(ngModel)]="password.confirmpassword" required validateEqual="newpassword" minlength="6" #confirmpassword="ngModel" name="confirmpassword" id="confirmpassword" type="password">
                    </div>

                    <div *ngIf="changepass.submitted && confirmpassword.errors" [ngClass]="'error'">
                        <div>{{confirmpassword.errors.validateEqual | json}}</div>
                        <div *ngIf="confirmpassword.errors.minlength" class="help-block">password Minlength 6 </div>
                        <div *ngIf="confirmpassword.errors.required" class="help-block">password Required </div>
                    </div>

                    <div *ngIf="changepass.submitted && password.newpassword !== password.confirmpassword">password not mached</div>

                </div>
            </div>

            <p class="sbstxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ornare massa lorem, vitae interdum eros mollis sit amet. Nullam faucibus ante dui, at sodales turpis tempus vitae. Donec a purus urna. Curabitur at pulvinar ligula, in consectetur
                velit. Nulla vehicula mauris sed nunc venenatis, non tincidunt elit aliquam.</p>
        </div>

        <div class="panel-footer">
            <div class="centrinthbtn paainglarg">
                <a class="borderbtn Discardchs" href="#">Discard Changes</a>
                <button type="submit" class="btn svshg">Save Changes</button>
            </div>
        </div>
    </form>
</div>

<!--rightpannel-->