<!--rightpannel-->
<div class="hide panel panel-default">
    <div class="panel-heading"><i class="imgcal"><img src="images/wd.png"></i> Country of Residence </div>
    <div class="panel-body">



        <div class="fonm-holder">



            <div class="row">
                <div class="col-xs-12">
                    <label class="optext">Select Your Country:</label>




                    <div class="mpholder">
                        <select><option><label>United state of America</label></option></select>
                        <label class="mapimg"><img src="images/mp.png"></label>
                    </div>
                </div>

                <div class="col-xs-12">
                    <label class="optext">Select Your Default Language:</label>
                    <select><option>English</option></select>
                </div>
            </div>
        </div>


    </div>

    <div class="panel-footer">
        <div class="centrinthbtn paainglarg">
            <a class="borderbtn Discardchs" href="#">Discard Changes</a>
            <a class="btn svshg" href="#">Save Changes</a>
        </div>
    </div>
</div>

<!--rightpannel-->






<!--rightpannel-->
<div class="panel panel-default">
    <div class="panel-heading"><i class="imgcal"><img src="images/al.png"></i> Cancel Account</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <p class="fndtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ornare massa lorem, vitae interdum eros mollis sit amet nullam.</p>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="centrinthbtn">
                    <a class="borderbtn canclchs" href="#">Cancel Account</a>

                </div>
            </div>
        </div>
    </div>

</div>

<!--rightpannel-->