<div class="container">
    <!--CREDIT CART PAYMENT-->

    <div class="col-md-6 ">

        <br>
        <br>
        <div class="panel panel-info ">
            <div class="panel-heading"><span><i class="glyphicon glyphicon-lock"></i></span> Secure Payment</div>
            <div class="panel-body">



                <form action="" method="POST" id="payment-form" #paymentForms="ngForm" (submit)="paymentForms.form.valid && getToken()">
                    <span class="payment-message">{{message}}</span>
                    <div class="form-group">
                        <div class="col-md-12">

                            <div class=" row userdetail">
                                <div class="col-md-6">
                                    <strong>First Name</strong>
                                    <input required [(ngModel)]="firstname" class="form-control" name="firstname" type="text" size="21" data-stripe="firstname">
                                </div>
                                <!-- <span> / </span> -->
                                <div class="col-md-6">
                                    <strong>Last Name</strong>
                                    <input required [(ngModel)]="lastname" class="form-control" name="lastname" type="text" size="21" data-stripe="lastname">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <strong>Credit Card Number:</strong>
                        </div>
                        <div class="col-md-12">
                            <input [(ngModel)]="cardNumber" #cardNumbers="ngModel" required pattern="^[0-9]+$" name="card-number" type="text" size="20" data-stripe="number" required class="form-control" />
                        </div>
                        <div *ngIf="paymentForms.submitted && cardNumbers.errors" [ngClass]="'error'">
                            <div *ngIf="cardNumbers.errors.pattern" class="help-block">Credit number not valid. </div>
                            <div *ngIf=" cardNumbers.errors.required" class="help-block">Credit card number required.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <strong>Expiration Date</strong>
                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">

                            <div class=" expirationdate row">
                                <label class="col-md-6">
                                <p-dropdown [options]="expireMonth" placeholder="MM" [(ngModel)]="expiryMonth" #expirymonths="ngModel" id="expirymonths" required name="expirymonths" data-stripe="exp_month"></p-dropdown>       
                            </label>
                                <!-- <span> / </span> -->
                                <label class="col-md-6">
                                <p-dropdown [options]="expireyear" [(ngModel)]="expiryYear" #expiryYears="ngModel" required placeholder="year" name="expiry-year" data-stripe="exp_year"></p-dropdown>                          
                            </label>

                                <div *ngIf="paymentForms.submitted && expirymonths.errors" [ngClass]="'error'">
                                    <div *ngIf="expirymonths.errors.required" class="help-block">Month required.</div>
                                </div>
                                <div *ngIf="paymentForms.submitted && expiryYears.errors" [ngClass]="'error'">
                                    <div *ngIf="expiryYears.errors.required" class="help-block">Year required.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <input #cvcs="ngModel" pattern="^[0-9]+$" placeholder="CVV" required [(ngModel)]="cvc" class="form-control" name="cvc" type="text" size="4" data-stripe="cvc">
                        </div>
                        <div *ngIf="paymentForms.submitted && cvcs.errors" [ngClass]="'error'">
                            <div *ngIf="cvcs.errors.pattern" class="help-block">CVV not valid. </div>
                            <div *ngIf=" cvcs.errors.required" class="help-block">CVV required.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <span>Pay secure using your credit card.</span>
                        </div>
                        <div class="col-md-12">
                            <ul class="cards">
                                <li><img src="assets/images/cards.png" /></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <button type="submit" class="btn btn-primary btn-submit-fix">Place Order</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!--CREDIT CART PAYMENT END-->

    <div class="col-md-6 paymentpage">
        <div class="itineraryrooms">
            <div class="figureProduct">
                <img src="http://localhost:4000/1530966950249.jpg" />

            </div>
            <div class="paydescBottom">
                <h3 class="prodTils">City Penthouse in Central Cape Town</h3>
                <span class="prodaddress">Chennai , India</span>
            </div>
        </div>

    </div>
</div>