<div class="searchFilter">
    <div class="container">
        <ul class="searchFilterList">

            <li class="datpick dropdown">
                <div id="toggletbn">
                    <form (ngSubmit)="dateFilter(DateRange);" #DateRange="ngForm">

                        <button class="filterbtn" type="button">
                            Date
                           <angular-date-range-picker class="dateranges" [(ngModel)]="searchDateRange" name="daterang"  [props]="dateRangePickerProps"  required></angular-date-range-picker>
                      </button>
                        <div class="dropdown-menu">
                            <span (click)="dateFilter(DateRange);" id="dateapplybtn" class="applybtn">Apply</span>

                        </div>

                    </form>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="filterbtn" type="button" data-toggle="dropdown">
                          Guest
                    </button>
                    <div class="dropdown-menu">
                        <form (ngSubmit)="acomdateSearch(Accommodates);" #Accommodates="ngForm">
                            <ul class="droplist">

                                <li>

                                    <label for="">Adults</label>
                                    <counter-input counterRangeMin="0" [(ngModel)]="Accommodates.Adults" #Adults="ngModel" name="Adults" id="Adults"></counter-input>

                                </li>
                                <li>

                                    <div class="leftcounterHold">
                                        <label for="">Children</label>
                                        <span>Age 2 to 12</span>
                                    </div>
                                    <counter-input counterRangeMin="0" value="0" [(ngModel)]="Accommodates.Children" #Children="ngModel" name="Children" id="Children"></counter-input>

                                </li>
                                <li>
                                    <div class="leftcounterHold">
                                        <label for="">Infant</label>
                                        <span>Under 2</span>
                                    </div>
                                    <counter-input counterRangeMin="0" value="0" [(ngModel)]="Accommodates.Infant" #Infant="ngModel" name="Infant" id="Infant"></counter-input>

                                </li>
                            </ul>
                            <span (click)="acomdateSearch(Accommodates);" class="applybtn">Apply</span>
                        </form>
                    </div>
                </div>
            </li>

            <li>
                <div class="dropdown">
                    <button class="filterbtn" type="button" data-toggle="dropdown">
                              House Type
                        </button>
                    <div class="dropdown-menu">
                        <form (ngSubmit)="arraySearch(RoomType);" #RoomType="ngForm">
                            <ul class="droplist">

                                <li>
                                    <p-checkbox name="RoomType" value="Entire Places" label="Entire Place" [(ngModel)]="RoomType.type"></p-checkbox>
                                    <span class="subtext">Have a place to yourself</span>
                                </li>
                                <li>
                                    <p-checkbox name="RoomType" value="Private Rooms" label="Privare Room" [(ngModel)]="RoomType.type"></p-checkbox>
                                    <span class="subtext">Have your own room and share some common spaces</span>
                                </li>
                                <li>

                                    <p-checkbox name="RoomType" value="Shared Rooms" label="Shared Room" [(ngModel)]="RoomType.type"></p-checkbox>
                                    <span class="subtext">Stay in a shared space, like a common room</span>
                                </li>
                            </ul>
                            <span (click)="arraySearch(RoomType)" class="applybtn">Apply</span>
                        </form>
                    </div>
                </div>
            </li>

            <li>
                <div class="dropdown">
                    <button class="filterbtn" type="button" data-toggle="dropdown">
                                  Price
                            </button>
                    <div class="dropdown-menu">
                        <form class="pricefilter" (ngSubmit)="priceFilter(PriceRange);" #PriceRange="ngForm">
                            <h3>${{rangeValues[0]}} - ${{ rangeValues[1]}}</h3>

                            <p-slider [(ngModel)]="rangeValues" name="rang" [style]="{'width':'100%'}" [min]="0" [max]="50000" [range]="true"></p-slider>
                            <span (click)="priceFilter(PriceRange);" class="applybtn">Apply</span>
                        </form>
                    </div>
                </div>
            </li>


            <li class="moreFillters">
                <div class="dropdown">
                    <button class="filterbtn" type="button" data-toggle="dropdown">
                                      More Filters
                                </button>
                    <div class="moreFilter">
                        <form (ngSubmit)="moverFilter(moreOptions);" #moreOptions="ngForm">

                            <div ngModelGroup="Rooms" #Rooms="ngModelGroup" class="fliterseperatesection">
                                <span class="filterTilte">Rooms and Beds</span>
                                <ul class="droplist">

                                    <li>

                                        <label for="">Beds</label>
                                        <counter-input counterRangeMin="0" [(ngModel)]="moreOptions.Beds" #Beds="ngModel" name="Beds" id="Beds"></counter-input>

                                    </li>
                                    <li>

                                        <div class="leftcounterHold">
                                            <label for="">Bedrooms</label>
                                        </div>
                                        <counter-input counterRangeMin="0" [(ngModel)]="moreOptions.Bedrooms" #Bedrooms="ngModel" name="Bedrooms" id="Bedrooms"></counter-input>

                                    </li>
                                    <li>
                                        <div class="leftcounterHold">
                                            <label for="">Bathrooms</label>
                                        </div>
                                        <counter-input counterRangeMin="0" [(ngModel)]="moreOptions.Bathrooms" #Bathrooms="ngModel" name="Bathrooms" id="Bathrooms"></counter-input>

                                    </li>
                                </ul>
                            </div>


                            <div ngModelGroup="Amenities" #Amenities="ngModelGroup" class="fliterseperatesection">
                                <span class="filterTilte">Ammenities</span>
                                <ul class="droplist">

                                    <li *ngFor="let commonAme of commonAmenities" class="col-md-6  col-xs-12">
                                        <p-checkbox name="Common" value="{{commonAme.label}}" label="{{commonAme.label}}" [(ngModel)]="moreOptions.Common"></p-checkbox>
                                    </li>
                                    <li *ngFor="let additionalAme of additionalAmenities" class="col-md-6  col-xs-12">
                                        <p-checkbox name="Additional" value="{{additionalAme.label}}" label="{{additionalAme.label}}" [(ngModel)]="moreOptions.Additional"></p-checkbox>
                                    </li>
                                </ul>
                            </div>


                            <div ngModelGroup="houseruleslists" #houseruleslists="ngModelGroup" class="fliterseperatesection">
                                <span class="filterTilte">House Rules</span>
                                <ul *ngIf="houseruleslist" class="droplist">


                                    <li *ngFor="let rules of houseruleslist" class="col-md-6  col-xs-12">
                                        <p-checkbox name="rules" value="{{rules.label}}" label="{{rules.label}}" [(ngModel)]="moreOptions.rules"></p-checkbox>
                                    </li>
                                </ul>
                            </div>


                            <div class="submifilte">
                                <!-- <span class="clear">Clear</span> -->
                                <button class="btn md">Apply</button>
                            </div>
                        </form>

                    </div>
                </div>
            </li>
        </ul>
        <div class="radiotoggle">
            <span>Show Map</span>
            <p-inputSwitch onLabel="Yes" offLabel="No" (onChange)="showmap($event)" [(ngModel)]="checked"></p-inputSwitch>
        </div>
    </div>
</div>




<div class="container">
    <div class="col-md-8 pad0 productholds">
        <app-productarray *ngIf="products" (onproducthoverout)="producthoverout($event)" (onproducthover)="producthover($event)" [product]="products"></app-productarray>
        <div *ngIf="!products">
            <h1>Sorry No Listing for now</h1>
        </div>
        <div class="col-md-12">
            <p-paginator *ngIf="products" [rows]="pagelimit" [totalRecords]="totalrecord" pageLinkSize="3" (onPageChange)="paginate($event)"></p-paginator>
        </div>

    </div>

    <div class="col-md-4 mapholds">
        <div class="mapsection">
            <p-gmap *ngIf="mapDisplay" #gmap (onMapReady)="setMap(gmap)" [options]="options" (onMapDragEnd)="onMapDragEnd(gmap.getMap())" (onOverlayClick)="handleOverlayClick($event)" [overlays]="overlays" [style]="{'width':'100%','height':'100%'}"></p-gmap>
        </div>
    </div>
</div>