<p-panel>
    <p-header> Product
        <button [routerLink]="['/admin/product']" class="btn btn-xs btn-primary pull-right">
                       <i class="fa fa-plus"></i> Create New Product  </button>
    </p-header>
    <p-dataTable class="" selectionMode="single" [(selection)]="selectedRow" [value]="products">
        <p-column field="Photos" header="Product Image" [style]="{'width':'120px'}">
            <ng-template let-col let-data="rowData" pTemplate="body">
                <img width="100px" src="http://localhost:4000/{{data[col.field][0].filename}}">
            </ng-template>
        </p-column>
        <p-column field="Description.Title" header="Product Name"></p-column>
        <p-column field="Location.country" header="Country"></p-column>

        <p-column field="host.common.firstName" header="Host"></p-column>
        <p-column field="status" header="Status"></p-column>
        <p-column field="published" header="Published"></p-column>

        <p-column field="Description.Summary" header="Action" [style]="{'width':'100px'}">
            <ng-template let-col let-data="rowData" pTemplate="body">
                <button type="button" [routerLink]="['/product', data._id]" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></button>
                <button type="button" [routerLink]="['/admin/product']" [queryParams]="{ product: data._id }" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></button>
                <button type="button" (click)="onDeleteSlider(data)" class="btn btn-warning btn-xs"><i class="fa fa-close"></i></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-panel>


<div *ngIf="products.length <= 0" class="NoProductsBox">
    <div align="center" class="alert alert-info" role="alert">
        <strong>No Products Available in Database</strong>
    </div>
</div>