<!--rightpannel-->
<form (ngSubmit)="onSubmitForm(Formdata);" #Formdata="ngForm">

    <!-- <div class="form-margin form-2">
                            <div class="form-group">
                                <label for="">First Name: <sup>*</sup></label>
                                <input type="text" class="form-control" [(ngModel)]="user.firstName" #firstName="ngModel" name="firstName" id="firstName">
                            </div>
                            <div class="form-group last-input">
                                <label for="">Last Name: <sup>*</sup></label>
                                <input type="text" class="form-control" [(ngModel)]="user.lastName" #lastName="ngModel" name="lastName" id="lastName">
                            </div>
                            <p>This is only shared once you have a confirmed booking with another user.</p>
                        </div> -->
    <!--rightpannel-->
    <div class="panel panel-default">
        <div class="panel-heading">Mobile Notifications / Text Messages</div>
        <div class="panel-body">
            <div class="row mrgbtm10">
                <div class="col-sm-7 col-xs-12">
                    <h4 class="toptilsg">Mobile Phone</h4>
                    <p class="sbstltext">Receive mobile updates by regular SMS text message.</p>
                </div>
                <div class="col-sm-5 col-xs-12">


                    <ul class="radiobtns-link">
                        <li>
                            <p-radioButton name="mobilealert" value="yes" label="yes" [(ngModel)]="mobilealert"></p-radioButton>
                        </li>
                        <li>
                            <p-radioButton name="mobilealert" value="No" label="No" [(ngModel)]="mobilealert"></p-radioButton>
                        </li>

                    </ul>
                </div>

            </div>


            <div class="row">
                <div class="col-sm-7 col-xs-12">
                    <h4 class="toptilsg">Notify Me When:</h4>
                    <p class="sbstltext">Applies to both text messages & push notifications.</p>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <ul class="radiobtns-link resve">
                        <li>
                            <p-checkbox name="notifywhen" value="reservationrequest" [(ngModel)]="notifywhen" label="I receive a reservation request"></p-checkbox>
                        </li>

                    </ul>
                </div>

            </div>


        </div>
    </div>




    <!--rightpannel-->
    <div class="panel panel-default">
        <div class="panel-heading">Email Notifications</div>
        <div class="panel-body">
            <div class="row mrgbtm10">
                <div class="col-sm-6 col-xs-12">
                    <h4 class="toptilsg">I want to receive:</h4>
                    <p class="sbstltext">You can disable at these at any time.</p>
                </div>
                <div class="col-sm-6 col-xs-12 pad0">
                    <ul class="radiobtns-link resve">
                        <!-- <li><input [(ngModel)]="emailnotify" #emailnotify="ngModel" name="emailnotify" value="upcomingreservation" type="checkbox"><span>I have an upcoming reservation.</span></li>
                        <li><input [(ngModel)]="emailnotify" #emailnotify="ngModel" name="emailnotify" value="newreview" type="checkbox"><span>I have received a new review.</span></li>
                        <li><input [(ngModel)]="emailnotify" #emailnotify="ngModel" name="emailnotify" value="newreference" type="checkbox"><span>I have received a new reference.</span></li>
                        <li><input [(ngModel)]="emailnotify" #emailnotify="ngModel" name="emailnotify" value="referencerequest" type="checkbox"><span>I have received a new reference request.</span></li>
                        <li><input [(ngModel)]="emailnotify" #emailnotify="ngModel" name="emailnotify" value="sendereview" type="checkbox"><span>I need to leave a review for one of my guests.</span></li>
                        <li><input [(ngModel)]="emailnotify" #emailnotify="ngModel" name="emailnotify" value="calenderupdate" type="checkbox"><span>I can improve my ranking in the search results by updating my calendar..</span></li> -->

                        <li>
                            <p-checkbox name="emailnotify" value="upcomingreservation" [(ngModel)]="emailnotify" label="I have an upcoming reservation."></p-checkbox>
                        </li>
                        <li>
                            <p-checkbox name="emailnotify" value="newreview" [(ngModel)]="emailnotify" label="I have received a new review."></p-checkbox>
                        </li>
                        <li>
                            <p-checkbox name="emailnotify" value="newreference" [(ngModel)]="emailnotify" label="I have received a new reference."></p-checkbox>
                        </li>
                        <li>
                            <p-checkbox name="emailnotify" value="referencerequest" [(ngModel)]="emailnotify" label="I have received a new reference request."></p-checkbox>
                        </li>
                        <li>
                            <p-checkbox name="emailnotify" value="sendereview" [(ngModel)]="emailnotify" label="I need to leave a review for one of my guests."></p-checkbox>
                        </li>
                        <li>
                            <p-checkbox name="emailnotify" value="calenderupdate" [(ngModel)]="emailnotify" label="I can improve my ranking in the search results by updating my calendar."></p-checkbox>
                        </li>

                    </ul>
                </div>

            </div>





        </div>
    </div>

    <!--rightpannel-->

    <div class="panel panel-default nobg">
        <div class="panel-body">
            <div class="centrinthbtn">
                <button type="button" (click)="discardchanges()" class="borderbtn Discardchs" href="#">Discard Changes</button>
                <button class="btn svshg">Save Changes</button>

            </div>

        </div>
    </div>
</form>