<!--rightpannel-->


<div class="panel panel-default">
    <div class="panel-heading avatar"><i></i><span>My Avatar</span></div>
    <div class="panel-body">
        <div class="photo-avatar">
            <figure class="avatharContainer">
                <img src="{{user.photoUrl}}">
            </figure>
            <div class="avatar-right">
                <p>Clear frontal face photos are an important way for hosts and guests to learn about each other. It's not much fun to host a landscape! Please upload a photo that clearly shows your face.</p>

                <p-fileUpload name="myfile[]" id="userImage" accept="image/*" (onUpload)="onBasicUpload($event)" url="http://localhost:4000/route/upload"></p-fileUpload>

                <p></p>
                <ul>
                    <li>
                    </li>
                    <li><label class="web hide">Upload from Web</label></li>
                </ul>
                <div class="image-range hide">
                    <span>Uploading NewAvatar.jpg...</span>
                    <div class="upload-range">
                        <span class="upload-meter"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--rightpannel-->

<div class="panel panel-default nobg">
    <div class="panel-body">
        <div class="centrinthbtn">
            <button (click)="discardchanges()" class="borderbtn Discardchs" href="#">Discard Changes</button>
            <button class="btn svshg" (click)="updatepic()">Save Changes</button>

        </div>

    </div>
</div>