<!--//////////////////////////////////////////////////account body starts///////////////////-->
<section *ngIf="user" class="dashboardbg">
    <div class="dashbrdbody">
        <div class="dashboardcontainer">
            <div class="row">
                <div class="col-sm-3 dashboard-left">

                    <!--leftpannel-->
                    <app-profilecard></app-profilecard>
                    <!--leftpannel-->


                    <div class="panel panel-default quick-link">
                        <div class="panel-heading">Verfied Info</div>
                        <div class="panel-body">
                            <ul class="quick-link-list">
                                <li><span>Email confirmed</span></li>
                                <li><span>Facebook connected</span></li>
                                <li><span>Google connected</span></li>

                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-sm-9 col-xs-12 dashboard-right">
                    <div class="rigthdivsec">
                        <h1>Hey I`m {{user.common.firstName}}!</h1>
                        <p>{{user.common.description}}!</p>


                        <!--rightpannel-->
                        <!--rightpannel-->
                        <br>
                        <br>

                        <div class="panel panel-default">
                            <div class="panel-heading verify"><i></i><span>Review</span></div>
                            <div class="panel-body">
                                <ul *ngIf="review" class="pannerl-list">

                                    <li *ngFor="let review of review">
                                        <div class="col-sm-1  col-xs-12 pad0 nwexdivs">
                                            <figure class="fighold"><img src="{{review.Reviewby.common.photoUrl}}"></figure>
                                        </div>
                                        <div class="col-sm-10 col-xs-12 pad0 centline">
                                            <div class="pad0 textcntnsd">
                                                <span class="toptextline">{{review.usercomment}}</span>
                                                <p *ngIf="review.created" class="fultext">{{review.created | date}}</p>
                                            </div>


                                        </div>
                                    </li>

                                </ul>

                            </div>
                        </div>

                        <!--rightpannel-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--//////////////////////////////////////////////////account body ends///////////////////-->