p-dropdown>.ui-state-default {
    border: 1px solid #d6d6d6;
    background: #ffffff;
    color: #555555;
    padding: 3px 6px;
    width: 100% !important;
}

p-dropdown {
    .ui-dropdown {
        .ui-dropdown-trigger {
            padding: 6px 0 0 0;
            border: none;
        }
        &:not(.ui-state-disabled):hover {
            background: #fff
        }
    }
}

p-checkbox {
    label {
        font-weight: normal;
        text-align: left;
        color: #565a5c;
        font-size: 15px;
        margin: 5px 0 0 0;
    }
}

counter-input>button {
    border: 1px solid rgb(0, 132, 137);
    background: none;
    color: rgb(0, 132, 137);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 8px;
    font-size: 17px;
    line-height: 12px;
}

counter-input>span {
    margin: 0;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    width: 39px;
}

.ui-chkbox-box.ui-state-active,
.ui-radiobutton-box.ui-state-active {
    border: 1px solid #ccc;
    background: #fff;
    color: #444;
}

.ui-chkbox-box.ui-state-focus.ui-state-active {
    background: none;
}

p-radiobutton label,
p-checkbox label {
    font-weight: normal;
    margin: 0px 10px 0 10px;
    float: left;
    width: calc(100% - 40px);
}

.ui-chkbox {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    float: left;
    margin: 3px 10px 0 0;
}

.ui-radiobutton {
    float: $ltr;
    margin: 3px 0 0 0;
}