<section class="dashboardbg">
    <div class="dashbrdbody">
        <div class="dashboardcontainer">
            <div class="wishlistuser">
                <div class="wish-userdetl">
                    <figure>
                        <img src={{userdetail.photoUrl}} />
                    </figure>
                    <span>{{userdetail.firstName}}'s wishlist</span>
                    <label *ngIf="wishlist"> {{wishlist.length}} Products</label>

                </div>

                <!-- <button (click)="wishlistform = true" class="btn btn-border pull-right">
                  Mapview
                </button> -->
            </div>
            <app-productarray *ngIf="wishlist" [product]="wishlist"></app-productarray>
        </div>
    </div>
</section>