<!--//////////////////////////////////////////////////account body starts///////////////////-->
<section class="dashboardbg">
    <div class="dashbrdbody">
        <div class="dashboardcontainer">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <!--leftpannel-->
                    <div class="leftpanels">
                        <ul class="paylisttext">
                            <li><span class="hedlines"><i class="fa fa-circle"></i>Manage Listings</span></li>
                            <li routerLinkActive="active"><a routerLink="/user/reservation"> Your Reservations</a></li>
                        </ul>
                    </div>
                    <!--leftpannel-->
                    <!--leftpannel-->
                    <app-profilecard></app-profilecard>
                    <!--leftpannel-->
                </div>
                <div class="col-sm-9 col-xs-12">
                    <div class="rigthdivsec nextri prevtri">
                        <!--rightpannel-->
                        <div class="panel panel-default">
                            <div class="panel-heading pad0 ">
                                <div class="leftconle">
                                    <i class="imgcal"></i> Manage Listings
                                </div>
                                <div class="righconle newdasv">
                                    <div class="spcelisting">
                                        <div class="dropdown show">
                                            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="swhlisting">
                                                    Show :
                                                    <label class="valuscripting">
                                                        All Listings
                                                    </label>      
                                                </span>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <li> <a class="dropdown-item" (click)="getactiveLising('')">All Listing</a></li>
                                                <li> <a class="dropdown-item" (click)="getactiveLising('completed')">Active Listing</a></li>
                                                <li> <a class="dropdown-item" (click)="getactiveLising('Draft')">Hidden Listing</a></li>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="positnlistion">
                                        <li><a href="#">All listing</a></li>
                                        <li><a href="#">Recent listing</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <ul class="pannerl-list">
                                    <li *ngFor="let listing of listings">
                                        <div class="col-sm-3  col-xs-12 pad0 nwexdivs">
                                            <figure class="fighold">
                                                <img *ngIf="listing.coverphoto" src="http://localhost:4000/{{listing.coverphoto.filename}}">
                                                <img *ngIf="!listing.coverphoto" [src]="bannerImage">

                                            </figure>
                                        </div>
                                        <div class="col-sm-9 col-xs-12 pad0 centline">
                                            <div class="col-xs-8 pad0 textcntnsd">
                                                <span routerLink="/product/{{listing._id}}" class="toptextline">{{listing.Description.Title}}</span>
                                                <p class="fultext">{{listing.ProductType}} - {{listing.City}}</p>
                                                <a *ngIf="listing.status !== 'Pending'" routerLink="/listspace/{{listing._id}}" class="bluler newblu" href="#">Edit Listing & Calendar</a>
                                            </div>
                                            <div class="col-xs-4 pad0 bntlined">
                                                <a class="listdbtn blu-nn" *ngIf="listing.status === 'Draft'" href="#"><i class="mdi mdi-check"></i>Incomplete</a>
                                                <!-- <a class="listdbtn blu-nn" *ngIf="listing.status === 'Pending'" href="#"><i class="mdi mdi-check"></i>Approval Pending</a> -->
                                                <!-- <a class="listdbtn blu-nn" *ngIf="listing.status === 'completed' && listing.published === true" href="#"><i class="mdi mdi-check"></i>Listed</a>
                                                <a class="listdbtn blu-nn" *ngIf="listing.status === 'completed' && listing.published === true" (click)="publish(false)"><i class="mdi mdi-check"></i>Unlist</a> -->
                                                <span *ngIf="listing.status === 'completed' ">
                                                <p-dropdown  (onChange)="publish($event , listing._id)" [options]="listingOptions" [(ngModel)]="listing.published"></p-dropdown>
                                            </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--rightpannel-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//////////////////////////////////////////////////account body ends///////////////////-->