<!--//////////////////////////////////////////////////profile1 starts///////////////////-->
<section class="dashboardbg">
    <div class="dashbrdbody">
        <div class="dashboardcontainer">
            <div class="row">
                <div class="col-sm-3 col-xs-12">

                    <!--leftpannel-->
                    <div class="leftpanels">


                        <ul class="paylisttext">
                            <li routerLinkActive="active"><a routerLink="/user/profile/editprofile">Edit Profile</a></li>
                            <li routerLinkActive="active"><a routerLink="/user/profile/photos">Photos</a></li>
                            <li routerLinkActive="active"><a routerLink="/user/profile/trust">Trust & Verification</a></li>
                            <li routerLinkActive="active"><a routerLink="/user/profile/reviews">Reviews</a></li>

                        </ul>
                    </div>
                    <!--leftpannel-->


                    <!--leftpannel-->
                    <app-profilecard></app-profilecard>
                    <!--leftpannel-->

                    <!--leftpannel-->

                    <!--leftpannel-->


                </div>
                <div class="col-sm-9 col-xs-12 dashboard-right profile-edit">
                    <div class="rigthdivsec">
                        <router-outlet></router-outlet>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--//////////////////////////////////////////////////profile1 ends///////////////////-->