.remove {
    position: absolute;
    background: #fff;
    right: 6px;
    top: 4px;
    padding: 0 4px;
    border: 1px solid #ccc;
}

.imgtop {
    position: relative
}

.imgtop:hover .Cover {
    display: block;
}

span.Cover.showCover {
    display: block;
    pointer-events: none;
}

.Cover {
    position: absolute;
    background: #fff;
    left: 6px;
    top: 4px;
    padding: 0 4px;
    display: none;
    border: 1px solid #ccc;
}