<!--//////////////////////////////////////////////////HEADER____ Ends///////////////////-->

<!--//////////////////////////////////////////////////topstripeheader///////////////////-->

<!-- <section>
<div class="lisiting-header">
<div class="col-xs-10">
<span class="listtoptext">Entire home/apt in Chennai<a href="#">(see all listings)</a></span>
</div>
<div class="col-xs-1 pull-right alignright"><i class="fa fa-eye"></i></div>
</div>
</section> -->

<section>
    <div class="lisiting-status">
        <span></span>
    </div>
</section>

<!--//////////////////////////////////////////////////topstripeheader  End///////////////////-->


<!--//////////////////////////////////////////////////side barr starts///////////////////-->





<section>
    <div class="listingpage-full pageheight">


        <div class="listingleft">

            <ul class="listsidebar tabs">
                <li class="listing-sideheadeing">Listing</li>
                <li class="active listingMenu Basic"><a data-toggle="tab" class="ripplelink" href="#Basic">Basic <i *ngIf="!Rooms.valid || !Listing.valid"  class="fa fa-plus"></i><i *ngIf="Rooms.valid && Listing.valid" class="fa fa-check"></i></a></li>
                <li class="listingMenu Description"><a data-toggle="tab" class="ripplelink" href="#Description">Description <i *ngIf="!Description.valid || !extradetails.valid"  class="fa fa-plus"></i><i *ngIf="Description.valid && extradetails.valid" class="fa fa-check"></i></a></li>
                <li class="listingMenu Location"><a data-toggle="tab" class="ripplelink" href="#Location">Location <i *ngIf="!Location.valid"  class="fa fa-plus"></i><i *ngIf="Location.valid" class="fa fa-check"></i></a></li>
                <li class="listingMenu Amenities"><a data-toggle="tab" class="ripplelink" href="#Amenities">Amenities<i *ngIf="!Amenities.valid"  class="fa fa-plus"></i><i *ngIf="Amenities.valid" class="fa fa-check"></i></a></li>
                <li class="listingMenu Photos"><a data-toggle="tab" class="ripplelink" href="#Photos">Photos<i *ngIf="!Photos.valid"  class="fa fa-plus"></i><i *ngIf="Photos.valid" class="fa fa-check"></i></a></li>
                <li class="listing-sideheadeing">Hosting</li>
                <li class="listingMenu Pricing"><a data-toggle="tab" class="ripplelink" href="#Pricing">Pricing<i *ngIf="!Pricing.valid"  class="fa fa-plus"></i><i *ngIf="Pricing.valid" class="fa fa-check"></i></a></li>
                <li class="listingMenu Calender"><a data-toggle="tab" class="ripplelink" href="#Calender">Calender<i *ngIf="!calendertype.valid"  class="fa fa-plus"></i><i *ngIf="calendertype.valid" class="fa fa-check"></i></a></li>
                <li class="listingMenu cancellation"><a data-toggle="tab" class="ripplelink" href="#cancellation">Cancellation<i *ngIf="!cancellation.valid"  class="fa fa-plus"></i><i *ngIf="cancellation.valid" class="fa fa-check"></i></a></li> ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````

            </ul>

            <div class="stepstoclose">
                <div class="row">
                    <p class="text-center col-md-12">
                        <button *ngIf="productForm.valid && products.payment !== 'completed'" (click)="Submitforapproval(productForm)" type="button" class="btn btn-clone">
                            Pay Now
                    </button>

                        <button *ngIf="productForm.valid && products.payment === 'completed'" (click)="publishproduct(productForm)" type="button" class="btn btn-clone">
                       Publish Now
                </button>
                    </p>
                    <p class="col-md-12">Complete 7 steps to list your space.</p>
                </div>
            </div>
        </div>

        <!--//////////////////////////////////////////////////side barr end///////////////////-->




        <!-- tab content -->
        <form (ngSubmit)="onSubmitProduct(productForm , 'save');" #productForm="ngForm">
            <button type="submit" class="md svebtn pull-right"> Save and Exit </button>
            <div class="tab-content">
                <!--//////////////////////////////////////////////////Basic starts///////////////////-->
                <div id="Basic" class="tab-pane active">
                    <div class="col-md-7  bgwhite">
                        <div class="contentdetailholder">
                            <div class="listingtopheadeing">
                                <h3 class="listin-mainheding">Help travelers find the right fit</h3>
                                <span class="listin-subheding">People searching on Renters can filter by listing basics to find a space that matches their needs.</span>
                            </div>
                            <div ngModelGroup="Rooms" #Rooms="ngModelGroup" required class="listseltion ">
                                <h4 class="subtiteles">Rooms and Beds</h4>
                                <div class="row">
                                    <ul class="comitlist">
                                        <li class="col-md-4 col-xs-12">
                                            <span>Bedrooms</span>
                                            <p-dropdown [options]="bedrooms" [(ngModel)]="products.Bedrooms" #Bedrooms="ngModel" name="Bedrooms" id="Bedrooms" required></p-dropdown>

                                        </li>
                                        <li class="col-md-4 col-xs-12">
                                            <span>Beds</span>
                                            <p-dropdown [options]="beds" [(ngModel)]="products.Beds" #Beds="ngModel" name="Beds" id="Beds" required></p-dropdown>

                                        </li>
                                        <li class="col-md-4 col-xs-12">
                                            <span>Bathrooms</span>
                                            <p-dropdown [options]="bathrooms" [(ngModel)]="products.Bathrooms" #Bathrooms="ngModel" name="Bathrooms" id="Bathrooms" required></p-dropdown>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="listseltion noborder">
                                <h4 class="subtiteles">Listing</h4>
                                <div ngModelGroup="Listing" #Listing="ngModelGroup" required class="row">
                                    <ul class="comitlist">
                                        <li class="col-md-4 col-xs-12">
                                            <span>Property Type</span>
                                            <p-dropdown [options]="propertytype" [(ngModel)]="products.ProductType" #ProductType="ngModel" name="ProductType" required></p-dropdown>
                                            <input type="text" [(ngModel)]="products._id" #_id="ngModel" class="form-control hide" name="_id" id="_id" required />

                                        </li>
                                        <li class="col-md-4 col-xs-12">
                                            <span>Room Type</span>
                                            <p-dropdown [options]="roomtype" [(ngModel)]="products.RoomType" #RoomType="ngModel" name="RoomType" id="RoomType" required></p-dropdown>

                                        </li>
                                        <li class="col-md-4 col-xs-12">
                                            <span>Accommodates</span>
                                            <p-dropdown [options]="accommodates" [(ngModel)]="products.Accommodates" #Accommodates="ngModel" name="Accommodates" id="Accommodates" required></p-dropdown>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="btn-left">
                                <!-- <input class="btn md" data-toggle="tab" (click)="tabChange('Basic')" href="#Basic" Value="Back" type="submit"> -->
                                <input class="btn md nxtbtn" data-toggle="tab" (click)="tabChange('Description')" href="#Description" Value="Next" type="submit">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="listing-info">
                            <ul class="informtnlist">
                                <span class="idealt"><i class="fa fa-lightbulb-o"></i></span>
                                <li>
                                    <label>Entire Place</label>
                                    <span class="list-subs">Guest Have the wholeplace to themself. This Usually includes a bedroom , a bathroom and a kitchen</span>
                                </li>
                                <li>
                                    <label>Private Room</label>
                                    <span class="list-subs">Guest Have their own private room for sleeping. Other areas to be shared</span>
                                </li>
                                <li>
                                    <label>Shared Room</label>
                                    <span class="list-subs">Guest sleep in a bedroom or a common area that could be shared with others</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--//////////////////////////////////////////////////Description starst ///////////////////-->
                <div id="Description" class="tab-pane">

                    <div class="col-md-7  bgwhite">
                        <div class="contentdetailholder">
                            <div class="listingtopheadeing">
                                <h3 class="listin-mainheding">Tell travelers about your space</h3>
                                <span class="listin-subheding">Every space on Renters is unique. Highlight what makes your listing welcoming so that it stands out to guests who want to stay in your area.</span>
                            </div>


                            <div class="listseltion">


                                <div class="row">
                                    <ul class="comitlist" ngModelGroup="Description" #Description="ngModelGroup" required>



                                        <li class="col-md-12 col-xs-12">
                                            <span>Title <label class="comettext">35 characters left</label></span>
                                            <input placeholder="Be clear and descriptive." type="text" [(ngModel)]="products.Title" #Title="ngModel" class="form-control" name="Title" id="Title" required>
                                        </li>

                                        <li class="col-md-12 col-xs-12">
                                            <span>Summary <label class="comettext">35 characters left</label></span>
                                            <textarea [(ngModel)]="products.Summary" #Summary="ngModel" class="form-control" name="Summary" id="Summary" required placeholder="Tell travelers what you love about the space. You can include details about the decor, the amenities it includes, and the neighborhood."></textarea>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="listseltion noborder">


                                <div class="row">
                                    <h4 _ngcontent-c1="" class="subtiteles col-md-12">Extra Details</h4>
                                    <ul class="comitlist" ngModelGroup="extradetails" #extradetails="ngModelGroup" required>
                                        <li class="col-md-12 col-xs-12">
                                            <span>The Space</span>
                                            <textarea [(ngModel)]="products.spacedetail" #spacedetail="ngModel" class="form-control" name="spacedetail" id="spacedetail" required placeholder="A description of your space displayed on your public listing page?"></textarea>

                                        </li>


                                        <li class="col-md-12 col-xs-12">
                                            <span>Other Things to Note <!--<label class="comettext">35 characters left</label>--></span>
                                            <textarea [(ngModel)]="products.otherdetail" #otherdetail="ngModel" class="form-control" name="otherdetail" id="otherdetail" required placeholder="Are there any other details you’d like to share ?"></textarea>

                                        </li>



                                        <li class="col-md-12 col-xs-12">
                                            <span>House Rules <label class="comettext">35 characters left</label></span>


                                            <ul class="comitlist checklist">
                                                <li *ngFor="let commonAme of houseruleslist" class="col-md-6  col-xs-12">
                                                    <p-checkbox name="houseruleslist" value="{{commonAme.label}}" label="{{commonAme.label}}" [(ngModel)]="products.houseruleslist"></p-checkbox>
                                                </li>
                                            </ul>
                                            <textarea [(ngModel)]="products.houserules" #houserules="ngModel" class="form-control" name="houserules" id="houserules" required placeholder="How do you expect your guests to behave ?"></textarea>
                                        </li>
                                    </ul>
                                </div>
                            </div>






                            <div class="btn-left">
                                <input class="btn md borderbtn" data-toggle="tab" (click)="tabChange('Basic')" href="#Basic" Value="Back" type="submit">

                                <input class="btn md nxtbtn" data-toggle="tab" (click)="tabChange('Location')" href="#Location" Value="Next" type="submit">
                            </div>


                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="listing-info">

                            <div class="informtnlist">
                                <span class="idealt"><i class="fa fa-lightbulb-o"></i></span>
                                <h4 class="lidt-infoheade">Listing Name</h4>
                                <span class="list-subs">Your listing name will be the first thing travelers see when they find your space in search results.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//////////////////////////////////////////////////Location starts///////////////////-->
                <div id="Location" class="tab-pane">
                    <div class="col-md-7  bgwhite">
                        <div class="contentdetailholder" ngModelGroup="Location" #Location="ngModelGroup" required>
                            <div class="listingtopheadeing">
                                <h3 class="listin-mainheding">Help guests find your place</h3>
                                <span class="listin-subheding">Travelers will use this information to find a place that’s in the right spot.</span>
                            </div>

                            <div class="map listseltion noborder">
                                <div>


                                    <p-gmap *ngIf="options" #map [style]="{'width':'100%','height':'320px'}" [options]="options" [overlays]="overlays" (onOverlayDragEnd)="handleDragEnd($event)"></p-gmap>
                                    <button type="button" pButton label="Set Location On Map" (click)="MapOptions()" style="margin-top:10px"></button>
                                </div>
                            </div>


                            <div class="listseltion noborder">


                                <div class="row">
                                    <ul class="comitlist">
                                        <li class="col-xs-12">
                                            <span>Country </span>
                                            <input type="text" [(ngModel)]="products.country" #country="ngModel" class="form-control" name="country" id="country" required />

                                        </li>
                                        <li class="col-xs-12">
                                            <span>Street Address</span>
                                            <input type="text" placeholder="House name/number + street/road" [(ngModel)]="products.street_number" #street_number="ngModel" class="form-control" name="street_number" id="street_number" required />

                                        </li>


                                        <li class="col-xs-12">
                                            <span>Apt, Suite, Bldg. (optional)</span>
                                            <input [(ngModel)]="products.street" #street="ngModel" class="form-control" name="street" id="street" required placeholder="Apt, Suite, Bldg. (optional)" type="text">
                                        </li>


                                        <li class="col-md-6  col-xs-12">
                                            <span>City</span>
                                            <input [(ngModel)]="products.city" #city="ngModel" class="form-control" name="city" id="city" required placeholder="Chennai" type="text">
                                            <input [(ngModel)]="products.lat" #lat="ngModel" class="form-control hide" name="lat" id="lat" required placeholder="lat" type="text">
                                            <input [(ngModel)]="products.lng" #lng="ngModel" class="form-control hide" name="lng" id="lng" required placeholder="lng" type="text">

                                        </li>

                                        <li class="col-md-6  col-xs-12">
                                            <span>State</span>
                                            <input [(ngModel)]="products.state" #state="ngModel" class="form-control" name="state" id="state" required placeholder="TamilNadu" type="text">
                                        </li>


                                        <li class="col-md-6  col-xs-12">
                                            <span>ZIP Code</span>
                                            <input type="text" [(ngModel)]="products.postal_code" #postal_code="ngModel" class="form-control" name="postal_code" id="postal_code" required>
                                        </li>
                                    </ul>
                                </div>
                            </div>






                            <div class="btn-left">
                                <input class="btn md borderbtn" data-toggle="tab" (click)="tabChange('Description')" href="#Description" Value="Back" type="submit">
                                <input class="btn md nxtbtn" data-toggle="tab" (click)="tabChange('Amenities')" href="#Amenities" Value="Next" type="submit">
                            </div>


                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="listing-info">

                            <div class="informtnlist">
                                <span class="idealt"><i class="fa fa-lightbulb-o"></i></span>
                                <h4 class="lidt-infoheade">Address</h4>
                                <span class="list-subs">
                                        host are responsible to provide the exact road name of
                                         the accommodations in order for guest to be able to plan for their trip smoothly.
                                </span>

                            </div>
                        </div>

                    </div>


                </div>
                <!--//////////////////////////////////////////////////Amenities  starts///////////////////-->
                <div id="Amenities" class="tab-pane">
                    <div class="col-md-7  bgwhite">
                        <div ngModelGroup="Amenities" #Amenities="ngModelGroup" required class="contentdetailholder">
                            <div class="listingtopheadeing">
                                <h3 class="listin-mainheding">Tell travelers about your space</h3>
                                <span class="listin-subheding">Every space on Renters is unique. Highlight what makes your listing welcoming so that it stands out to guests who want to stay in your area.</span>
                            </div>


                            <div class="listseltion ">

                                <h4 class="subtiteles">Common Amenities</h4>
                                <div class="">
                                    <ul class="comitlist checklist">
                                        <li *ngFor="let commonAme of commonAmenities" class="col-md-6  col-xs-12">
                                            <p-checkbox name="Common" required value="{{commonAme.label}}" label="{{commonAme.label}}" [(ngModel)]="products.Common"></p-checkbox>
                                        </li>
                                    </ul>
                                </div>
                            </div>




                            <div class="listseltion noborder">

                                <h4 class="subtiteles">Additional Amenities</h4>
                                <div class="">
                                    <ul class="comitlist checklist">
                                        <li *ngFor="let additionalAme of additionalAmenities" class="col-md-6  col-xs-12">
                                            <p-checkbox name="Additional" value="{{additionalAme.label}}" label="{{additionalAme.label}}" [(ngModel)]="products.Additional"></p-checkbox>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="btn-left">
                                <input class="btn md borderbtn" data-toggle="tab" (click)="tabChange('Location')" href="#Location" Value="Back" type="submit">
                                <input class="btn md nxtbtn" data-toggle="tab" (click)="tabChange('Photos')" href="#Photos" Value="Next" type="submit">
                            </div>


                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="listing-info">

                            <div class="informtnlist">
                                <span class="idealt"><i class="fa fa-lightbulb-o"></i></span>
                                <h4 class="lidt-infoheade">Amenities</h4>
                                <span class="list-subs">Providing the essentials helps guests feel at home in your place.</span>
                                <span class="list-subs">Some hosts provide breakfast, or just coffee and tea. None of these things are required, but sometimes they add a nice touch to help guests feel welcome.</span>


                            </div>
                        </div>

                    </div>



                </div>
                <!--//////////////////////////////////////////////////Photos starts///////////////////-->
                <div id="Photos" class="tab-pane">


                    <div class="col-md-7  bgwhite">
                        <div class="contentdetailholder">
                            <div class="listingtopheadeing">
                                <h3 class="listin-mainheding">Photos can bring your space to life</h3>
                                <span class="listin-subheding">Add photos of areas guests have access to. You can always come back later and add more.</span>

                                <div class="photupldsection">
                                    <div class="uplodsection">

                                        <p-fileUpload name="myfile[]" id="updd" accept="image/*" (onUpload)="onBasicUpload($event)" url="http://localhost:4000/route/upload"></p-fileUpload>
                                        <p-multiSelect [options]="accommodates" class="hide" [(ngModel)]="products.Photos" #Photos="ngModel" optionLabel="name" name="Photos" id="Photos" required></p-multiSelect>

                                    </div>

                                </div>
                            </div>


                            <div class="listseltion noborder">

                                <h4 class="subtiteles"></h4>
                                <div class="row">
                                    <ul class="photolist">


                                        <li *ngFor="let product of products.Photos; index as i">
                                            <div class="imgtop">
                                                <span [ngClass]="products.Photos[i].cover ? 'showCover' : ''" (click)="SetCoverImage(i)" class="Cover">Cover</span>

                                                <span (click)="removeProductImage(i)" class="remove"><i class="fa fa-remove"></i></span>
                                                <img *ngIf="product.filename" width="100px" src="http://localhost:4000/{{product.filename}}" />
                                            </div>
                                            <div class="imgbottom hide">
                                                <textarea placeholder="What are the highlights of this photo?">{{product.originalname}}</textarea>
                                            </div>

                                        </li>



                                    </ul>
                                </div>
                            </div>







                            <div class="btn-left">
                                <div class="btn-left">
                                    <input class="btn md borderbtn" data-toggle="tab" (click)="tabChange('Amenities')" href="#Amenities" Value="Back" type="submit">
                                    <input class="btn md nxtbtn" data-toggle="tab" (click)="tabChange('Pricing')" href="#Pricing" Value="Next" type="submit">
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="listing-info">

                            <div class="informtnlist">
                                <span class="idealt"><i class="fa fa-lightbulb-o"></i></span>
                                <h4 class="lidt-infoheade">Guests Love Photos</h4>
                                <span class="list-subs">Include a few well-lit photos. Cell phone photos are just fine.</span>

                            </div>
                        </div>

                    </div>



                </div>
                <!--//////////////////////////////////////////////////pricing starts///////////////////-->
                <div id="Pricing" class="tab-pane">
                    <div class="col-md-7  bgwhite">
                        <div ngModelGroup="Pricing" #Pricing="ngModelGroup" required class="contentdetailholder">
                            <div class="listingtopheadeing">
                                <h3 class="listin-mainheding">Set a nightly price for your space</h3>
                                <span class="listin-subheding">You can set a price to reflect the space, amenities, and hospitality you’ll be providing.</span>
                            </div>
                            <div class="listseltion ">
                                <h4 class="subtiteles">Base price</h4>
                                <div class="row">
                                    <ul class="comitlist">
                                        <li class="col-md-4 col-xs-12">
                                            <span>Nightly Price</span>
                                            <div class="curencydiv">
                                                <span>{{products.currency}}</span>
                                                <input type="text" [(ngModel)]="products.Baseprice" #Baseprice="ngModel" class="form-control" name="Baseprice" id="Baseprice" required>

                                            </div><label class="pricetip"> Price tip: €22 </label>
                                        </li>

                                        <li class="col-md-4 col-xs-12">
                                            <span>Currency</span>
                                            <p-dropdown [options]="currencyList" filter="true" (onChange)="currencyChange($event)" [(ngModel)]="products.currency" #currency="ngModel" name="currency" id="currency" required></p-dropdown>

                                            <!-- <p-dropdown [options]="currency" (onChange)="currencyChange($event)" [(ngModel)]="products.currency" #currency="ngModel" name="currency" id="currency"></p-dropdown> -->
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div ngModelGroup="Longtermprice" #Longtermprice="ngModelGroup" required class="listseltion ">
                                <h4 class="subtiteles">Long-term price</h4>
                                <div class="row">
                                    <ul class="comitlist">
                                        <li class="col-md-4 col-xs-12">
                                            <span>Weekly Price</span>
                                            <div class="curencydiv">
                                                <span>{{products.currency}}</span>
                                                <input type="text" [(ngModel)]="products.Weekly" #Weekly="ngModel" class="form-control" name="Weekly" id="Weekly" required />
                                            </div><label class="pricetip"> Price tip: €22 </label>
                                        </li>
                                        <li class="col-md-4 col-xs-12">
                                            <span>Monthly Price</span>
                                            <div class="curencydiv">
                                                <span>{{products.currency}}</span>
                                                <input type="text" [(ngModel)]="products.Montly" #Montly="ngModel" class="form-control" name="Montly" id="Montly" required />
                                            </div><label class="pricetip"> Price tip: €22 </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div ngModelGroup="Additionalprice" #Additionalprice="ngModelGroup" class=" listseltion ">
                                <input [(ngModel)]="products.cleaning" #cleaning="ngModel" class="hide" name="cleaning" id="cleaning" required type="text">

                                <h4 class="subtiteles">Additional Pricing Options</h4>
                                <div class="">
                                    <ul class="comitlist checklist">
                                        <li class="col-xs-12">
                                            <!-- <input type="checkbox" [(ngModel)]="additionaltask1" [ngModelOptions]="{standalone: true}" /> <label>Cleaning fee </label> {{check}} -->
                                            <!-- [class.hide]="!additionaltask1" -->
                                            <div>
                                                <div class="row">
                                                    <ul class="comitlist">
                                                        <li class="col-md-4 col-xs-12">
                                                            <span>Cleaning Price</span>
                                                            <div class="curencydiv">
                                                                <span>{{products.currency}}</span>
                                                                <input [(ngModel)]="products.cleaning" #cleaning="ngModel" class="form-control" name="cleaning" id="cleaning" required type="text">
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <br>
                            <br>

                            <div class="listspacebtnHolder">

                                <input class="btn md borderbtn" data-toggle="tab" (click)="tabChange('Photos')" href="#Photos" Value="Back" type="submit">
                                <input class="btn md nxtbtn" (click)="tabChange('Calender')" data-toggle="tab" href="#Calender" Value="Next" type="submit">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="listing-info">
                            <div class="informtnlist">
                                <span class="idealt"><i class="fa fa-lightbulb-o"></i></span>
                                <h4 class="lidt-infoheade">Price</h4>
                                <span class="list-subs">You may want attract your first few guests by offering a great deal. You can always increase your price after you’ve received some great reviews.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//////////////////////////////////////////////////Pricing end///////////////////-->
                <!--//////////////////////////////////////////////////Calender starts///////////////////-->
                <div id="Calender" class="tab-pane">
                    <div class="col-md-7  bgwhite">
                        <div class="contentdetailholder">
                            <div class="listingtopheadeing">
                                <h3 class="listin-mainheding">Show guests when they can book</h3>
                                <span class="listin-subheding">An accurate calendar is the most important first step for hosting.</span>
                            </div>


                            <div class="listseltion noborder">
                                <div [hidden]="!caldisp" class="calendersector">
                                    <p-calendar selectionMode="multiple" (click)="dateSelect(selecteddates)" #selecteddates [inline]="true" [(ngModel)]="products.blockdates" [yearNavigator]="true" yearRange="2018:2030" #UnavailabeDates="ngModel" name="UnavailabeDates" id="UnavailabeDates">
                                    </p-calendar>
                                    <h5 (click)="caldisp = false" class="chodeagain">
                                        <i class="fa fa-arrow-left"></i> Choose Again</h5>
                                </div>
                                <!-- <p-calendar class="hide" selectionMode="multiple" [inline]="true" [(ngModel)]="products.blockdates" [yearNavigator]="true" yearRange="2018:2030" #UnavailabeDates="ngModel" name="UnavailabeDates" id="UnavailabeDates" required>
                                </p-calendar> -->
                                <div [hidden]="caldisp" class="row">
                                    <ul class="calenter">
                                        <div class="hide">
                                            <input id="calendertypealways" [(ngModel)]="products.calendertype" #calendertype="ngModel" value="always" required name="calendertype" type="radio">
                                            <input id="calendertypesometime" [(ngModel)]="products.calendertype" #calendertype="ngModel" value="sometime" required name="calendertype" type="radio">
                                        </div>
                                        <li>
                                            <label for="calendertypealways">
                                            <div (click)="toggle = false; selectcalender('always')" class="calholder alwad">
                                                <label>
                                                <i  class="fa fa-calendar-o"></i>
                                                <i  *ngIf="products.calendertype === 'always'" class="fa fa-check-circle-o"></i> 
                                               </label>
                                            <div class="calenderbottom"> <span class="mntxt">Always</span>
                                                <span class="anytxt">Any day is bookable</span> </div>
                                </div>
                                </label>
                                </li>


                                <li>
                                    <label for="calendertypesometime">
                                    <div (click)="caldisp = true; selectcalender('sometime')" class="calholder alwad"> <label>
                                                <i  class="fa fa-calendar"></i>
                                                 <i *ngIf="products.calendertype === 'sometime'" class="fa fa-check-circle-o"></i></label>
                                    <div class="calenderbottom"> <span class="mntxt">Sometimes</span>
                                        <span class="anytxt">Block days when you can’t host.</span> </div>
                            </div>
                            </label>
                            </li>


                            </ul>
                        </div>
                    </div>

                    <div class="btn-left">

                        <input class="btn md borderbtn" data-toggle="tab" (click)="tabChange('Pricing')" href="#Pricing" Value="Back" type="submit">
                        <input class="btn md pull-right" data-toggle="tab" (click)="tabChange('cancellation')" href="#cancellation" Value="Next" type="submit">


                    </div>


                </div>
            </div>
            <div class="col-md-5">
                <div class="listing-info">

                    <div class="informtnlist">
                        <span class="idealt"><i class="fa fa-lightbulb-o"></i></span>
                        <h4 class="lidt-infoheade">Calender</h4>
                        <span class="list-subs">An accurate calendar is the most important first step for hosting</span>

                    </div>
                </div>

            </div>
    </div>
    <!--//////////////////////////////////////////////////Calender end///////////////////-->


    <!--//////////////////////////////////////////////////Cancelation starts///////////////////-->
    <div id="cancellation" class="tab-pane">
        <div class="col-md-7  bgwhite">
            <div ngModelGroup="cancellation" #cancellation="ngModelGroup" required class="contentdetailholder">
                <div class="listingtopheadeing">
                    <h3 class="listin-mainheding">Cancellation policy</h3>
                    <span class="listin-subheding">Please select your cancellation policy. You can read more about the cancellation policy here .</span>
                </div>
                <div class="listseltion ">
                    <div class="row">
                        <ul class="comitlist">
                            <li class="col-md-4 col-xs-12">
                                <span>Cancellation Policy</span>
                                <p-dropdown [options]="cancelationpolicytype" (onChange)="currencyChange($event)" [(ngModel)]="products.cancellationType" #cancellationType="ngModel" name="cancellationType" id="cancellationType" required></p-dropdown>
                            </li>

                            <li class="col-md-4 col-xs-12">
                                <span>Deposit</span>
                                <div class="curencydiv">
                                    <span>{{products.currency}}</span>

                                    <input type="text" [(ngModel)]="products.deposit" #deposit="ngModel" class="form-control" name="deposit" id="deposit" required>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="btn-left">

                        <input class="btn md borderbtn" data-toggle="tab" (click)="tabChange('Calender')" href="#Calender" Value="Back" type="submit">


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="listing-info hide">
                <div class="informtnlist">
                    <span class="idealt"><i class="fa fa-lightbulb-o"></i></span>
                    <h4 class="lidt-infoheade">Bathrooms</h4>
                    <span class="list-subs">If a bathroom doesn’t include a place to shower or bathe, let travelers know by counting it as a half bathroom.</span>
                </div>
            </div>
        </div>
    </div>
    <!--//////////////////////////////////////////////////Cancelation end///////////////////-->

    <div class="listiongfooter">
        <div class="col-xs-2 logocontenet">Hirespace, inc</div>

        <div class="col-xs-2 pull-right">
            <select class="langufooter">
                <option>English</option>
            </select>
        </div>
        <div class="col-xs-8 pull-right">
            <ul class="fotermenu">
                <li><a href="#">About</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Safety</a></li>
                <li><a href="#">Responsible Hosting</a></li>
                <li><a href="#">Terms & Privacy </a></li>
                <li><a href="#">Policies</a></li>

            </ul>
        </div>

    </div>


    </div>
    </form>
    </div>



</section>