<div class="">

    <!--//////////////////////////////////////////////////account header starts///////////////////-->
    <section class="dashboardbg">
        <div class="dashboardheader">
            <div class="dashboardcontainer">
                <ul class="dashbordmenu">
                    <li routerLinkActive="active"><a routerLink="/user/dashboard"><i class="dasic ci1"></i><span>Dashboard</span></a></li>
                    <li routerLinkActive="active"><a routerLink="/user/inbox"><i class="dasic ci2"></i><span>Inbox</span></a></li>
                    <li routerLinkActive="active"><a routerLink="/user/listing"><i class="dasic ci3"></i><span>Your Listings</span></a></li>
                    <li routerLinkActive="active"><a routerLink="/user/usertrips"><i class="dasic ci4"></i><span>Your Trips</span></a></li>
                    <li routerLinkActive="active"><a routerLink="/user/profile"><i class="dasic ci5"></i><span>Profile</span></a></li>
                    <li routerLinkActive="active"><a routerLink="/user/account"><i class="dasic ci6"></i><span>Account</span></a></li>


                </ul>
            </div>
        </div>

    </section>


    <!--//////////////////////////////////////////////////account header Ends///////////////////-->


    <router-outlet></router-outlet>

</div>