<section class="dashboardbg reviewpage">
    <div class="dashbrdbody">
        <div class="dashboardcontainer">
            <div class="col-md-6">
                <div class="itineraryContainer">
                    <h2 class="describtile">Describe your Experience (required)</h2>



                    <form (ngSubmit)="onSubmitProduct(reviewForm);" #reviewForm="ngForm">
                        <ul class="reviewlift">
                            <li>
                                <span>Accuracy</span>
                                <p-rating [ngModel]="reviews.productaccuracy" #productaccuracy="ngModel" name="productaccuracy" id="productaccuracy" required [cancel]="false"></p-rating>
                            </li>
                            <li>
                                <span>Location</span>
                                <p-rating [ngModel]="reviews.productlocation" #productlocation="ngModel" name="productlocation" id="productlocation" required [cancel]="false"></p-rating>
                            </li>
                            <li>
                                <span>Communication</span>
                                <p-rating [ngModel]="reviews.productcommunication" #productcommunication="ngModel" name="productcommunication" id="productcommunication" required [cancel]="false"></p-rating>
                            </li>
                            <li>
                                <span>Check-in</span>
                                <p-rating [ngModel]="reviews.productcheckin" #productcheckin="ngModel" name="productcheckin" id="productcheckin" required [cancel]="false"></p-rating>
                            </li>
                            <li>
                                <span>Cleanliness</span>
                                <p-rating [ngModel]="reviews.productcleanliness" #productcleanliness="ngModel" name="productcleanliness" id="productcleanliness" required [cancel]="false"></p-rating>
                            </li>
                            <li>
                                <span>Value</span>
                                <p-rating [ngModel]="reviews.productvalue" #productvalue="ngModel" name="productvalue" id="productvalue" required [cancel]="false"></p-rating>
                            </li>
                        </ul>
                        <div class="form-group">
                            <label>Your review  about the place</label>
                            <textarea [(ngModel)]="reviews.productcomment" #productcomment="ngModel" name="productcomment" id="productcomment" required class="form-conrol"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Your review for the host</label>
                            <textarea [(ngModel)]="reviews.usercomment" #usercomment="ngModel" name="usercomment" id="usercomment" required class="form-conrol"></textarea>
                        </div>
                        <!-- <div class="form-group">
                            <label>Overall Rating</label>
                            <p-rating [(ngModel)]="reviews.rating" #rating="ngModel" name="rating" id="rating" required [cancel]="false"></p-rating>
                        </div> -->
                        <div class="btntopdivider">
                            <button class="btn btn-clone">submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div *ngIf="productDetails" class="itineraryrooms">
                    <div class="figureProduct">
                        <img src="http://localhost:4000/{{productDetails.Photos[0].filename}}" />

                    </div>
                    <h3 class="prodTils">{{productDetails.Description.Title}}</h3>
                    <span class="prodaddress">{{productDetails.Location.city}} , {{productDetails.Location.country}}</span>
                </div>

            </div>
        </div>
    </div>
</section>