<div class="fullcontain">
    <div class="loginHolder registerHolder">
        <div class="sociallogin">
            <a class="fb" (click)="signInWithGoogle()">Log in with Facebook</a>
            <a class="gl" (click)="signInWithGoogle()">Log in with Google</a>
            <div class="divider">
                <span>or</span>
            </div>
        </div>
        <div class="regsociallogin hide">
            <span class="regSignup">Sign up with <a (click)="signInWithGoogle()">Facebook</a> or
                <a (click)="signInWithGoogle()">Google</a></span>

            <div class="divider">
                <span>or</span>
            </div>
        </div>
        <form name="form" (ngSubmit)="registerform.form.valid && register(registerform)" #registerform="ngForm">
            <div class="form-group">
                <input type="text" placeholder="First Name" class="form-control" name="firstName" [(ngModel)]="model.firstName" pattern="^[a-zA-Z\s]*$" #firstName="ngModel" required />
                <div *ngIf="registerform.submitted && firstName.errors" [ngClass]="'error'">
                    <div *ngIf="firstName.errors.pattern" class="help-block">firstName not valid. </div>
                    <div *ngIf=" firstName.errors.required" class="help-block">firstName required.</div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Last Name" class="form-control" name="lastName" [(ngModel)]="model.lastName" pattern="^[a-zA-Z\s]*$" #lastName="ngModel" required />
                <div *ngIf="registerform.submitted && lastName.errors" [ngClass]="'error'">
                    <div *ngIf="lastName.errors.pattern" class="help-block">lastName not valid. </div>
                    <div *ngIf=" lastName.errors.required" class="help-block">lastName required.</div>
                </div>
            </div>
            <div class="form-group">
                <input type="email" placeholder="Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
                <div *ngIf="registerform.submitted && email.errors" [ngClass]="'error'">
                    <div *ngIf="email.errors.pattern" class="help-block">Email not valid. </div>
                    <div *ngIf=" email.errors.required" class="help-block">Email required.</div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" placeholder="password" minlength="6" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                <div *ngIf="registerform.submitted && password.errors" [ngClass]="'error'">
                    <div *ngIf="password.errors.minlength" class="help-block">password Minlength 6 </div>
                    <div *ngIf="password.errors.required" class="help-block">password Required </div>
                </div>
            </div>

            <div ngModelGroup="birthday" #birthday="ngModelGroup" class="form-group">
                <label>Birthday</label>
                <div class="row birthday">
                    <div *ngIf="birthmonth" class="col-md-6">
                        <p-dropdown [options]="birthmonth" [(ngModel)]="model.month" #month="ngModel" name="month" id="month"></p-dropdown>

                    </div>
                    <div *ngIf="birthdate" class="col-md-3">
                        <p-dropdown [options]="birthdate" [(ngModel)]="model.day" #day="ngModel" name="day" id="day" class="day"></p-dropdown>


                    </div>
                    <div class="col-md-3">
                        <p-dropdown [options]="birthyear" name="year" [(ngModel)]="model.year" #year="ngModel" name="year" id="year" class="mont"></p-dropdown>

                    </div>

                </div>


            </div>
            <div class="form-group">
                <input type="checkbox" name="agreepolicy" [(ngModel)]="model.agreepolicy" #agreepolicy="ngModel" required> I’d like to receive marketing and policy communications from Airbnb and its partners.
            </div>
            <div *ngIf="registerform.submitted && agreepolicy.errors" [ngClass]="'error'">
                <div *ngIf=" agreepolicy.errors.required" class="help-block">Required.</div>
            </div>
            <div class="form-group">
                <p class="airinfo">By clicking Sign up or Continue with, I agree to Airbnb’s Terms of Service, Payments Terms of Service, Privacy Policy, and Nondiscrimination Policy.</p>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-login">Sign Up</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
            </div>




        </form>
        <div class="dnthaveaccount">
            <span class="">Already have an Airbnb account?</span>
            <a [routerLink]="['/login']" class="btn btn-signup pull-right">Log in</a>

        </div>
    </div>
</div>