<p-panel>
    <p-header>
        <span class="panlTitle">{{title}}</span>
        <button (click)="showDialog()" class="btn btn-xs btn-primary pull-right">
                   <i class="fa fa-plus"></i> Add New   </button>


        <input #gb type="text" placeholder="Search">
    </p-header>
    <p-dataTable [value]="tableData" class="" selectionMode="single" [globalFilter]="gb" [rows]="10" [paginator]="true" [(selection)]="selectRow">
        <p-column field="title" header="Title"></p-column>

        <p-column field="status" header="Status">
            <ng-template let-col let-data="rowData" pTemplate="body">
                <span class="{{data.status}}">
                {{data.status}}
            </span>
            </ng-template>
        </p-column>


        <p-column field="status" header="Action" class="text-center" [style]="{'width':'90px'}">
            <ng-template let-col let-data="rowData" pTemplate="body">
                <button type="button" (click)="showDialog(data)" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></button>
                <button type="button" (click)="onDeleteSlider(data)" class="btn btn-warning btn-xs"><i class="fa fa-close"></i></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-panel>

<p-dialog [(visible)]="display">
    <p-header> Room Type</p-header>
    <form (ngSubmit)="onSubmit(FormData);" #FormData="ngForm">

        <div class="form-group">
            <label for="subtitle">Item Name:</label>
            <input type="text" [(ngModel)]="dataList.title" #subtitle="ngModel" class="form-control" name="title" id="title" required />
        </div>
        <div class="form-group">
            <p-radioButton name="status" label="Enable" value="Enable" [(ngModel)]="dataList.status"></p-radioButton>
            <p-radioButton name="status" label="Disable" value="Disable" [(ngModel)]="dataList.status"></p-radioButton>
        </div>
        <button type="submit" [disabled]="!FormData.form.valid" class="btn btn-success btn-block">Submit</button>
    </form>
</p-dialog>