.dashboardheader {
    @include float($ltr);
    background-color: #484848;
    border-bottom: none;
}

.dashbrdbody {
    min-height: 600px
}

section {
    @include light;
}

.dashbordmenu {
    @include float($ltr);
    margin: 0 -20px;
    >li {
        float: $ltr;
        >a {
            float: $ltr;
            padding: 10px 15px;
            &:hover,
            &.active {
                span {
                    color: #fff;
                }
            }
            >span {
                display: inline-block;
                @include regular;
                font-size: 14px;
                color: #bbb;
            }
        }
        &.active {
            border-bottom: 4px solid #fc584b;
            color: #fff;
            a span {
                color: #fff
            }
        }
    }
}

.dasic {
    background-image: url("../images/dash.png");
    float: $ltr;
    height: 20px;
    width: 20px;
    display: none;
    background-repeat: no-repeat;
    margin: 0 6px 0 0;
    @include transition-duration(.5s);
}

.ci1 {
    background-position: 1px 1px;
}

.ci2 {
    background-position: -28px 0;
}

.ci3 {
    background-position: -56px 2px;
}

.ci4 {
    background-position: -84px 0;
}

.ci5 {
    background-position: -110px 1px;
}

.ci6 {
    background-position: -132px 0;
}

.dashbordmenu>li>a:hover,
.dashbordmenu>li>a.active,
.dashbordmenu>li>a:active,
.dashbordmenu>li>a:focus {
    .dasic {
        background-position: -8px -16px;
    }
    .ci1 {
        background-position: 1px -25px;
    }
    .ci2 {
        background-position: -27px -27px;
    }
    .ci3 {
        background-position: -57px -26px;
    }
    .ci4 {
        background-position: -84px -26px;
    }
    .ci5 {
        background-position: -108px -26px
    }
    .ci6 {
        background-position: -132px -26px;
    }
}

.dashbrdbody {
    @include float($ltr);
    padding: 40px 0;
    @include tablet991 {
        padding: 30px 20px;
    }
}

.leftpanels {
    @include float($ltr);
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    background-color: #fff;
    &.photsect {
        padding: 0
    }
}

.hedlines {
    @include float($ltr);
    @include regular;
    color: #48a9e7;
    margin-bottom: 0px;
    font-size: 14px;
    >i {
        font-size: 9px;
        margin: 5px 17px 0 0;
        float: $ltr;
        display: none;
    }
}

.paylisttext {
    @include float($ltr);
    >li {
        @include float($ltr);
        padding: 7px 0;
        >a {
            font-size: 14px;
            color: $text;
            @include float($ltr);
            @include regular;
        }
        &.active a {
            color: #48a9e7;
        }
    }
}

.tophldr {
    @include tablet {
        display: none;
    }
    @include float($ltr);
    height:60px;
    overflow: hidden;
    >img {
        @include float($ltr);
    }
}

.centeringprofl {
    @include display;
    margin: -34px 0 0;
    padding: 0 0 14px;
    @include tablet {
        margin: 19px 1px 0 0;
    }
}

.figuredivs {
    display: inline-block;
    border-radius: 50%;
    height: 90px;
    overflow: hidden;
    width: 90px;
    >img {
        @include float($ltr);
        height: 100%;
    }
}

.clintitle {
    @include float($ctr);
    color: $text;
    font-size: 12px;
    margin: 10px 0 20px 0;
}

.vewprobtn {
    &.borderbtn {
        border-radius: 3px;
        color: $text2;
        font-size: 12px;
        &:hover {
            color: #fff;
        }
    }
}

.btn {
    &.Savebd {
        width: 100%;
        margin: 0 0 10px 0;
    }
}

.Discardbtn {
    &.borderbtn {
        border-radius: 3px;
        color: $text2;
        width: 100%;
        text-align: center;
        padding: 7px 0 8px;
    }
}

.rigthdivsec {
    @include float($ltr);
    @include tablet991 {
        margin-top: 20px;
    }
}

.toptilsg {
    @include float($ltr);
    font-size: 14px;
    color: $text;
    margin: 0 0 6px 0;
    @include regular;
}

.sbstltext {
    @include float($ltr);
    font-size: 13px;
    color: $text2;
    @include light;
}

.radiobtns-link {
    @include float($ltr);
    margin-top: 16px;
    @include tablet {
        margin: 0;
    }
    >li {
        float: $ltr;
        width: 50%;
        >span {
            font-size: 11px;
            color: $text;
            margin: 0 0 0 6px;
        }
    }
}

.mrgbtm10 {
    margin-bottom: 30px;
}

.radiobtns-link.resve>li {
    @include float($ltr);
    margin: 8px 0 0 0;
}

.nobg {
    background: none;
}

.profile-edit .panel.panel-default.nobg {
    background: none;
    margin: -2px 0 0 0;
    background: #fff;
    border-radius: 0 0 0 0;
}

.centrinthbtn {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.borderbtn.Discardchs {
    border-radius: 3px;
    margin: 0 10px 0 0;
    padding: 7px 14px 10px;
}

.tablecustom table {}

.payout-prefernce {
    @include float($ltr);
    >li {
        @include float($ltr);
        padding: 13px 23px;
        border-bottom: 1px solid #eee;
        &:last-child {
            border: none
        }
    }
}

.hedlin-text {
    @include float($ltr);
    color: $text;
    font-size: 14px;
    margin: 0 0 10px 0;
    @include regular;
}

.scvdtxt {
    @include float($ltr);
    color: $text2;
    font-size: 13px;
    @include light;
}

.idform {
    @include float($ltr);
    color: $text;
    font-size: 13px;
    @include light;
}

.pllink {
    @include float($ltr);
    color: $theme;
    font-size: 13px;
    @include light;
}

.sidednav {
    @include display;
    >li {
        display: inline-block;
        width: auto;
        padding: 0 13px;
        &:hover {
            background: none
        }
        &:focus {
            background: none
        }
        &:active {
            background: none
        }
        &.active a {
            border-bottom: 5px solid #ff5a5f;
        }
        >a {
            padding: 10px 0;
            color: $text;
            &:hover {
                background: none
            }
            &:hover {
                background: none
            }
            &:focus {
                background: none
            }
            &:active {
                background: none
            }
        }
    }
}

.datedivcolor tbody td:first-child {
    color: $text2;
}

.datedivcolor tbody td {
    color: $text;
    font-size: 13px;
}

.datedivcolor.tablecustom tbody>tr>td {
    padding: 12px 11px;
    font-size: 13px;
}

.tablecustom thead>tr>th:last-child {
    text-align: left;
}

.datedivcolor.tablecustom thead>tr>th:last-child {
    text-align: left;
}

.mainliks {
    @include float($ltr);
}

.rightpric {
    float: $rtl;
    width: 50%;
    color: $text2;
    text-align: $ltr;
    font-size: 11px;
}

.leftrm {
    float: $ltr;
    width: 50%;
    @include light;
    color: $text2;
    font-weight: normal;
    font-size: 12px;
}

.roomlent {
    @include float($ltr);
    >li {
        @include float($ltr)
    }
}

.totle {
    .rightpric {
        color: $theme;
    }
    .leftrm {
        color: $text
    }
}

.sbstxt {
    @include float($ltr);
    margin: 10px 0 20px 0;
    color: $text2;
    font-size: 13px;
}

.fonm-holder {
    @include float($ltr);
    input[type="password"],
    select {
        border: 1px solid #ccc;
        border-radius: 3px;
        float: $ltr;
        height: 38px;
        margin: 4px 0 27px;
        width: 100%;
        padding: 5px;
        color: $text2;
        background-position: 98% center;
        @include light;
    }
}

.optext {
    font-weight: normal;
    font-size: 14px;
    color: $text;
    @include light;
}

.paainglarg.centrinthbtn {
    padding: 17px 0;
}

.mpholder {
    @include float($ltr);
    position: relative;
}

.mapimg {
    left: 4px;
    position: absolute;
    top: 12px;
}

.fonm-holder .mpholder select {
    padding: 5px 26px
}

.dollink {
    @include float($ltr);
}

.fndtext {
    @include float($ltr);
    color: $text;
    @include light;
    font-size: 11px;
}

.centrinthbtn .canclchs {
    border-radius: 3px;
    padding: 6px 17px 8px;
    color: $text;
    @include light;
}

app-payout .form-group label {
    @include float($ltr);
    color: $text;
    @include regular;
    font-size: 14px;
    font-weight: normal;
}

.tokenarea {
    float: left;
    margin: 0 0 0 10px;
    width: 52%;
}

.tokenarea input#verifytoken {
    width: 62%;
    float: left;
    margin: 0 10px 0 0;
}

p-fileupload {
    .ui-widget-header .ui-button,
    .ui-widget-content .ui-button,
    .ui-widget.ui-button,
    .ui-button {
        border: 1px solid $theme2;
        color: #FFFFFF;
        background: $theme2;
        transition: background-color .2s;
    }
}