.dashboardinbox {
    @include float($ltr);
}

.bnsclor {
    color: $theme;
    margin: 0 0 0 5px;
}

.imgcal {
    display: inline-block;
    margin: 0 8px 0 0;
}

.tablecustom {
    font-size: 11px;
    color: $text;
    @include light;
    font-weight: normal;
    text-transform: uppercase;
    .table>thead>tr>th {
        border-bottom: 1px solid #dddddd;
        font-size: 14px;
        color: $text;
        @include semi;
        font-weight: normal;
        text-transform: capitalize;
    }
}

.messagecolor {
    color: #333;
}

.step-continue.step-mare {
    margin-top: 29px;
}

.figlvel {
    border: 1px solid #dce0e0;
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    overflow: hidden;
    text-align: center;
    width: 50px;
    >img {
        width: 100%;
    }
}

.tablecustom tbody>tr>td {
    vertical-align: middle;
    text-transform: capitalize;
    border: none;
    padding: 5px 16px;
    @include regular;
    font-size: 13px;
}

.tablecustom thead>tr>th:last-child {
    text-align: right
}

.tablecustom thead>tr>th {
    margin: 0;
    padding: 11px 16px;
}

.dmclr {
    font-size: 10px;
    color: $text2;
}

.clientname {
    @include float($ltr);
    margin: 0 0 0px;
}

.tablecustom a {
    color: $theme
}

.tablecustom tr:hover {
    background: #f8f8f8;
}

.read {
    span.rd {
        color: #dce0e0;
        text-transform: capitalize;
        font-size: 11px;
    }
    .mailholder {
        border: 1px solid #dce0e0;
        font-size: 16px;
        color: $text2;
        margin: 0 0 0 8px;
        padding: 0 3px;
        border-radius: 2px;
        cursor: pointer;
    }
}

.unread {
    span.rd {
        color: $text2;
        text-transform: capitalize;
        font-size: 11px;
    }
    .mailholder {
        border: none;
        font-size: 16px;
        color: #fff;
        margin: 0 0 0 8px;
        padding: 0 3px;
        background: $theme;
        border-radius: 2px;
        cursor: pointer;
    }
    .mdi-email-open:before {
        content: "\f2e5";
    }
}

.rd,
.mailholder {
    float: $rtl;
}


/*-----------------INBOX FULL----------------------*/

.sidebarholder {
    border: 1px solid #dce0e0;
    padding: 20px 30px;
    @include float($ltr);
    text-align: center;
}

app-inboxfull {
    @include float($ltr);
    padding: 30px 0;
}

figure.clientprof {
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 1px solid #dce0e0;
    border-radius: 50%;
    overflow: hidden
}

figure.clientprof img {
    width: 100%;
}

label.clinetName {
    @include float($ltr);
    @include semi;
    margin: 23px 0 20px 0;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}

h4.triphead {
    margin: 30px 0 20px 0;
    @include float($ltr);
    font-weight: normal;
    @include semi;
}

h4.tripTitle {
    margin: 0 0 15px 0;
    @include float($ltr);
    color: $text2;
    font-weight: normal;
    @include semi;
}

.row.checkincolom {
    @include float($ltr);
    border-top: 1px solid #eee;
    padding: 15px 0;
    label {
        font-weight: normal;
        @include float($ltr);
        font-size: 14px;
    }
    span {
        color: $text2;
        @include float($ltr);
        margin: 0 0 5px 0;
        font-size: 14px;
    }
}

.paymentdetail {
    color: $text2;
    @include float($ltr);
    font-size: 13px;
    li {
        @include float($ltr);
        &.subtotal {
            color: $text;
            border-top: 1px solid;
            @include semi;
            margin: 10px 0 0 0;
            padding: 11px 0 0 0;
        }
    }
    label {
        float: $rtl;
        font-weight: normal;
    }
}

.review {
    @include float($ltr);
    color: $text2;
    text-align: center;
    margin: 0 0 30px 0;
    font-size: 14px;
}

.messageVisible {
    @include float($ltr);
}

.mesgsection {
    @include float($ltr);
    border: 1px solid #dce0e0;
    padding: 30px;
    margin: 0;
    >h3 {
        font-size: 18px;
        margin: 0 0 11px 0;
        @include semi;
        @include float($ltr);
    }
    >p {
        font-size: 14px;
        @include float($ltr);
        margin: 0 0 15px 0;
    }
}

.messagereply {
    @include float($ltr);
    margin: 10px 0 15px 0;
    .figure {
        float: $rtl;
        figure {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid #eee;
        }
    }
}

.messageContent {
    background: #dce0e0;
    @include float($ltr);
    width: 80%;
    textarea {
        border: none;
        margin: 1px;
        width: 99.5%;
        padding: 31px;
        height: 140px;
    }
    .messagebuttonHolder {
        float: right;
        padding: 20px;
    }
}

.mesgcontent {
    @include float($ltr);
    li {
        @include float($ltr);
        margin-bottom: 20px;
        &.even {
            figure {
                float: $ltr;
            }
            .msgdispla {
                float: $rtl;
            }
        }
        .msgdispla {
            float: left;
            background: #dce0e0;
            width: 80%;
            padding: 20px;
            >span {
                color: $text2;
            }
        }
        figure {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid #eee;
            float: $rtl;
            >img {
                width: 100%;
            }
        }
    }
}

app-inbox .tablecustom tbody>tr>td:first-child {
    display: inline-block;
    text-align: center;
    width: 80px;
}

.mesgcontent li.usermessage .msgdispla {
    float: right
}

.mesgcontent li.usermessage figure {
    float: left
}