.dashboardbg {
    background: #fff;
    @include float($ltr);
}

.dashboardcontainer {
    width: 1000px;
    margin: 0 auto;
    @include tablet991 {
        width: 100%;
    }
}

.dashboardbody {
    @include float($ltr);
    padding: 30px 0 20px;
    background: #F5F5F5;
    .ui-chkbox-box.ui-state-active,
    .ui-radiobutton-box.ui-state-active {
        border: 1px solid #48a9e7;
        background: #48a9e7;
        color: #FFFFFF;
    }
}

.panel {
    border-radius: 3px;
}

.panel-default {
    border: medium none;
    box-shadow: 0 0 0px 1px #dcdcdc;
}

.panel-default>.panel-heading {
    box-shadow: none;
    color: $text;
    background-color: #f5f5f5;
    border-color: #ddd;
    font-size: 14px;
    text-align: $ltr;
    text-transform: capitalize;
    font-family: "RobotoRegular";
    &.pad0 {
        padding: 0;
    }
}

.panel-body {
    padding: 20px 25px;
}

.panel-heading {
    padding: 14px 25px;
}