/**-----------------------------dashboard style ------------------------------**/

.dashboard-left .tophldr {
    height: 100px;
    overflow: hidden;
}

.dashboard-left .figuredivs {
    height: 100px;
    overflow: hidden;
    width: 100px;
}

.dashboard-left .figuredivs>img {
    height: 100%;
}

.dashboard-left .centeringprofl {
    margin: -52px 0 0;
}

.leftpanels {
    border: 1px solid #E2E7ED;
}

.clintitle {
    @include light;
    font-size: 18px;
    color: $darkgrey;
    font-weight: bold;
}

ul.dash-social {
    @include float($ctr);
    margin-bottom: 20px;
}

ul.dash-social li {
    float: none;
    display: inline-block;
    margin: 0 2px;
}

ul.dash-social:before {
    content: '';
    width: 20px;
    height: 1px;
    background: #EDF1F4;
    display: block;
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
}

ul.dash-social:after {
    content: '';
    width: 20px;
    height: 1px;
    background: #EDF1F4;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.dash-link a {
    padding: 5px 0;
    width: 65%;
    display: inline-block;
    margin-bottom: 10px;
    @include light;
    font-size: 12.5px !important;
    border: 1px solid #E5EAEE;
    color: #a5b1be;
}

.dash-link .build-btn {
    background: #47A9E6;
    color: #fff;
    border: 1px solid #47A9E6;
}

.quick-link {
    margin-top: 22px;
    float: left;
    width: 100%;
    box-shadow: none;
    border: 1px solid #E2E7ED;
}

ul.quick-link-list li a {
    @include light;
    font-size: 12px;
    color: #47708a;
    font-weight: bold;
}

ul.quick-link-list li {
    list-style: inherit;
    color: #BDCAD3;
    margin-bottom: 5px;
}

ul.quick-link-list {
    padding-left: 20px;
}

.dashboard-right .rigthdivsec .alert i {
    background-position: 0 0;
}

.dashboard-right .rigthdivsec .messages i {
    background-position: 0 -44px;
}

.alert-body {
    text-align: center;
}

.alert-body span {
    @include light;
    font-size: 12px;
    color: $lightgrey;
}

.messageleft {
    width: 40%;
    float: left;
}

.messageright {
    width: 60%;
    float: left;
}

.messageleft span {
    @include light;
    font-size: 11px;
    color: $lightgrey;
    float: left;
    min-width: 70px;
}

.msg-img {
    float: left;
}

.msg-img img {
    border-radius: 50%;
    width: 20%;
    float: left;
    margin-right: 10px;
}

.msg-img a {
    @include light;
    font-size: 11px;
    color: $darkgrey;
    font-weight: bold;
}

.messageright a strong,
.messageright a span {
    @include light;
    color: #8492a1;
    font-size: 11.5px;
    float: left;
}

.unread .messageright a strong,
.recieve .messageright a span {
    color: #48a9e7;
}

.recieve .messageright a span {
    font-weight: bold;
}

.read-unread {
    float: right;
}

.read-unread span {
    @include light;
    font-size: 11px;
    color: #8492a1 !important;
    float: left;
}

.read-unread p {
    padding: 3px;
    float: right;
    margin-bottom: 0;
    margin-left: 10px;
    border-radius: 4px;
    position: relative;
    top: -3px;
}

.unread .read-unread p {
    background: #49A9E6;
}

.unread .read-unread p i {
    background: url('../images/dash-main.png') no-repeat;
    background-position: 0.5px -66px;
    width: 17px;
    height: 16px;
    float: left;
}

.message-list ul li {
    margin-bottom: 19px;
    float: left;
    width: 100%;
}

.read .read-unread p {
    border: 1px solid #E4E9EF;
}

.read .read-unread p i {
    background: url("../images/dash-main.png") no-repeat;
    background-position: 1px -85px;
    width: 17px;
    height: 16px;
    float: left;
}

.read .messageright a strong {
    font-weight: normal;
}

.message-list,
.verify-body ul {
    @include float($ctr)
}

a.view-all {
    @include light;
    font-size: 11px;
    color: $lightgrey;
    padding: 5px 10px;
    border: 1px solid #E2E7ED;
    border-radius: 4px;
    display: inline-block;
}

.dashboard-left .leftpanels {
    margin-bottom: 0;
}

.dashboard-right .rigthdivsec .verify i {
    background-position: 0 -24px;
}

.verify-body ul li {
    float: none;
    display: inline-block;
    margin: 0 25px;
}

.verify-body ul li a {
    @include light;
    font-size: 13px;
    color: $lightgrey;
    font-weight: bold;
}

a.email-img i {
    background: url("../images/email.png") no-repeat;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
    display: inline-block;
}

a.phone-img i {
    background: url("../images/phone.png") no-repeat;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
    display: inline-block;
}

.verify-body ul li a span {
    vertical-align: middle;
    display: inline-block;
    margin-left: 15px;
}

.verify-body ul {
    padding: 11px 0;
}

.messageright a strong {
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
}


/**-----------------------------dashboard style ------------------------------**/


/**-----------------------------checkout style ------------------------------**/

.howtopay {
    background: #E3F0F9;
    border: 1px solid #CBE2F0;
    padding: 10px 15px;
    float: left;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 30px;
}

.howtopay h2 {
    font-size: 14px;
    @include light;
    color: #47708a;
    font-weight: bold;
    float: left;
    margin-top: 5px;
}

.howtopay p {
    float: right;
}

.howtopay p strong {
    font-size: 10.5px;
    color: #47708a;
}

.howtopay p button {
    float: left;
    margin-right: 7px;
    opacity: 1;
}

.howtopay p button span {
    color: #6BB7EB;
    float: left;
    line-height: 19px;
    font-size: 25px;
}

.howtopay p button:hover {
    color: #6BB7EB;
}

.product-detail {
    background: #fff;
}

.product-main-left {
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    width: 50%;
    text-align: left;
}

.product-main-left h3 {
    font-size: 18px;
    @include light;
    color: $darkgrey;
}

.product-main-left ul li {
    margin-right: 15px;
    float: left;
    font-size: 11px;
    @include light;
    color: $darkgrey;
    font-weight: bold;
    padding-left: 25px;
}

.product-main-left ul {
    margin-top: 10px;
}

li.calenders {
    background: url('../images/calendar-insert.png') no-repeat;
    background-position: left center;
}

li.guests {
    background: url('../images/-users2.png') no-repeat;
    background-position: left center;
}

.product-main-right {
    float: right;
    margin-right: 30px;
    width: 27%;
}

.rating-profile,
.rating-content {
    float: left;
}

.rating-content h4,
.rating-content h5 {
    font-size: 11px;
    @include light;
    color: $lightgrey;
}

.rating-img {
    float: left;
    margin-left: 5px;
}

.rating-img img {
    border-radius: 50%;
    float: left;
    width: 70%;
}

.rating-content h5 span {
    float: left;
}

.rating-profile {
    margin-top: 27px;
}

.product-main-right .preview-cash span {
    padding: 6px 0;
    width: 100%;
    float: left;
}

.product-main-right .preview-cash {
    width: 35%;
    margin-top: 8px;
}

.payment-gate {
    @include float($ltr);
    margin-top: 15px;
}

.payment-gate-left {
    padding-left: 0;
}

.payment-gate-left .paylisttext>li>a {
    @include light;
}

.bill-cash i {
    background: #e3f0f9 url("../images/cash-dollar.png") no-repeat;
    width: 14px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.credit-card [type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.credit-card [type="radio"]+span {
    display: block;
}

.credit-card [type="radio"]+span:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.1em;
    border-radius: 1em;
    border: 0.125em solid #fff;
    box-shadow: 0 0 0 0.1em #DEE5ED;
    margin: 0 15px 0 0;
    transition: 0.5s ease all;
}


/* the checked style using the :checked pseudo class */

.credit-card [type="radio"]:checked+span:before {
    background: #49A9E6;
    box-shadow: 0 0 0 0.1em #DEE5ED;
}

.credit-card span {
    font-size: 12px;
    color: #48a9e7;
    @include light;
}

.credit-card form {
    margin-top: 15px !important;
    width: 90%;
    margin: 0 auto;
}

.credit-card form label {
    font-size: 11px;
    color: $darkgrey;
    @include light;
    width: 100%;
}

.credit-card form select {
    height: 40px;
    background-image: url("../images/arrow.png");
    background-position: 97% center;
}

.card-hover img {
    position: absolute;
    right: 40px;
    top: 11px;
}

.card-hover {
    text-align: right;
    position: relative;
}

.card-number {
    width: 46%;
    float: left;
    margin-right: 20px;
}

.exp-date {
    float: left;
    margin-right: 20px;
    width: 30%;
}

.cvv {
    float: left;
    width: 15%;
}

.exp-date select {
    width: 40%;
    margin: 0;
    float: left;
    background-position: 90% center !important;
}

.exp-date select:last-child {
    width: 52%;
    margin-left: 10px;
}

.credit-card form input {
    height: 40px;
}

.credit-card {
    border-bottom: 1px solid #F1F5F8;
    float: left;
    width: 100%;
    padding: 20px 25px;
}

.procedd-process {
    padding-top: 20px;
    width: 100%;
    float: left;
    text-align: center;
    background: #F6F7F9;
    padding-bottom: 30px;
}

.procedd-process p {
    font-size: 11px;
    color: $lightgrey;
    @include light;
}

.procedd-process a {
    font-size: 12px;
    @include light;
    padding: 13px 50px;
}

.payment-gate-right .panel-body {
    padding: 0;
}

.payment-gate-right {
    padding-right: 0;
}


/**-----------------------------checkout style ------------------------------**/


/**-----------------------------profile1 style------------------------------**/

.btn.Savebd,
.Discardbtn.borderbtn {
    font-size: 14px;
}

.clintitle {
    font-size: 15px;
}

.centeringprofl {
    padding: 0 0 20px;
}

.clintitle:after {
    content: '';
    width: 20px;
    height: 1px;
    background: #EDF1F4;
    display: block;
    margin: 0 auto;
    float: none;
    margin-top: 10px;
}

.profile-edit .rigthdivsec .panel-heading i {
    background: #e3f0f9 url("../images/user.png") no-repeat;
}

.profile-info strong {
    float: right;
    color: #48a9e7;
    @include light;
    font-size: 10px;
}

.profile-form label {
    color: $text;
    @include regular;
    font-size: 13px;
    font-weight: normal;
    @include float($ltr);
}

.profile-form label sup {
    color: #48a9e7;
    font-size: 10px;
    top: -1px;
}

.profile-form input,
.profile-form select {
    height: 40px;
    color: $text;
    border-radius: 3px;
}

.form-2 .form-group {
    width: 48%;
    float: left;
    margin-bottom: 3px;
}

.form-2 .last-input {
    float: right;
}

.profile-form p {
    color: $lightgrey;
    @include light;
    font-size: 10px;
    @include float($ltr);
}

.form-margin {
    @include float($ltr);
    margin-bottom: 10px;
}

.form-4 .form-group {
    width: 65%;
    float: left;
    margin-bottom: 3px;
}

.form-4 .last-input {
    width: 30%;
    float: right;
}

select.form-control.month-select {
    width: 45%;
    margin-right: 10px;
    float: left;
}

.profile-form select {
    background: url("../images/arrow.png") no-repeat 92%;
}

.form-4 select {
    width: 31%;
    float: left;
    margin-right: 10px;
}

.form-4 .last-input select {
    width: 100%;
}

.form-1 .form-group {
    margin-bottom: 3px;
}

.country-select {
    width: 45% !important;
}

.form-4 .input-group span {
    background: #fff;
    border: 1px solid #DEE5ED;
    color: $lightgrey;
    border-right: 0;
    @include light;
}

.form-4 .last-in {
    float: right;
    width: 30%;
    text-align: center;
    position: relative;
}

a.verify-btn {
    background: #EDB23E;
    color: #fff;
    padding: 8px 15px;
    border-radius: 4px;
    font-family: 'MontserratLight';
    font-size: 11px;
    vertical-align: middle;
    display: inline-block;
    margin-top: 22px;
}

a.verify-btn:hover {
    color: #fff;
}

.form-4 .last-in:before {
    content: '';
    width: 1px;
    height: 10px;
    background: #EDF1F4;
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 33px;
}

.profile-edit .rigthdivsec .descri i {
    background: #e3f0f9 url("../images/pencil.png") no-repeat;
}

.profile-edit .panel.panel-default {
    margin-bottom: 20px;
}

.borderbtn,
a.btn.svshg {
    font-size: 13px;
}

.profile-edit .rigthdivsec .avatar i {
    background: #e3f0f9 url("../images/avatar.png") no-repeat;
}

.photo-avatar {
    @include float($ltr);
    padding: 10px 0;
}

.photo-avatar img {
    float: left;
    border-radius: 50%;
}

.avatar-right {
    float: right;
    width: 70%;
}

.avatar-right p {
    color: $lightgrey;
    @include light;
    font-size: 10px;
}

.avatar-right ul {
    @include float($ctr);
    margin-top: 25px;
}

.avatar-right ul li {
    float: left;
    margin-right: 15px;
}

.avatar-right ul li:last-child {
    margin-right: 0;
}

.avatar-right ul li label {
    padding: 12px 10px 12px 30px;
    border: 1px solid #E7ECF0;
    border-radius: 2px;
    float: left;
    font-size: 11px;
    color: $darkgrey;
    font-weight: bold;
    @include light;
    cursor: pointer;
}

.avatar-right ul li input {
    display: none;
}

.avatar-right ul li label.device {
    background: #fff url("../images/upload.png") no-repeat;
    background-position: 5% center;
}

.avatar-right ul li label.web {
    background: #fff url("../images/linkblue.png") no-repeat;
    background-position: 5% center;
}

.image-range {
    @include float($ltr);
    margin-top: 20px;
}

.image-range span {
    font-size: 10px;
    color: $lightgrey;
    @include light;
    margin-bottom: 3px;
    @include float($ltr);
}

.upload-range {
    width: 100%;
    float: left;
    background: #E3F0F9;
    border-radius: 25px;
}

.image-range .upload-meter {
    width: 18%;
    float: left;
    background: #8ECB65;
    padding: 6.5px;
    border-radius: 25px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
}

.image-range img {
    border-radius: initial;
    max-width: 100%;
}

.verification {
    @include float($ltr);
    padding: 30px 20px;
    background: #fff;
    border: 1px solid #ECEFF4;
    border-radius: 4px;
    margin-bottom: 20px;
}

.verify-left img {
    float: left;
    margin-right: 15px;
}

.verify-left h2 {
    font-size: 20px;
    color: $lightgrey;
    @include light;
    float: left;
    margin-top: 4px;
}

.verify-left {
    float: left;
    width: 50%;
}

.verify-right {
    float: right;
    width: 44.3%;
}

.verify-type {
    float: left;
}

.verify-type ul li {
    float: none;
    display: inline-block;
    margin-right: 5px;
}

.verify-type ul li:last-child,
.verify-type.wrong {
    margin-right: 0;
}

.verify-type {
    float: left;
    border: 1px solid #ECF0F3;
    padding: 4px 20px;
    text-align: center;
    border-radius: 15px;
    margin-right: 15px;
}

.profile-edit .rigthdivsec .more-verify i {
    background: #e3f0f9 url("../images/shieldplus.png") no-repeat;
}

.verification-account li {
    @include float($ltr);
    margin-bottom: 20px;
}

.verify-account-type h3 {
    float: left;
    font-weight: normal;
    width: 60%;
}

.verify-account-type h3 p {
    font-size: 13px;
    color: $darkgrey;
    font-weight: bold;
    margin-bottom: 10px;
    @include light;
}

.verify-account-type h3 span {
    font-size: 11px;
    color: $lightgrey;
    @include light;
    line-height: 16px !important;
    float: left;
}

.verify-account-type a {
    float: right;
}

a.disconnect {
    padding: 8px 20px;
    border: 1px solid #E7ECF0;
    border-radius: 4px;
    font-size: 13px;
    color: $lightgrey;
    @include light;
    margin-top: 10px;
}

a.connect {
    padding: 8px 20px;
    border: 1px solid #EDB23E;
    background: #EDB23E;
    border-radius: 4px;
    font-size: 13px;
    color: $white;
    @include light;
    margin-top: 10px;
}

a.connect:hover {
    color: $white;
}

.verification-account {
    @include float($ltr);
    padding: 10px 0;
}

.review-nav {
    border-bottom: 0;
    text-align: center;
}

.review-nav li {
    margin-bottom: 0;
    float: none;
    display: inline-block;
}

.review-nav li a {
    background: transparent;
    border: 0 !important;
    border-radius: 0;
    border-bottom: 3px solid transparent !important;
    padding: 10px 15px;
}

.review-nav li.active a,
.review-nav li:hover a {
    background-color: transparent !important;
    border-bottom: 3px solid #49A9E6 !important;
}

.review-nav li a span {
    color: #47708a;
    font-size: 10px;
}

.review-by {
    padding: 5px 15px 0px 15px !important;
}

.profile-edit .rigthdivsec .blue-user i {
    background: #e3f0f9 url("../images/user-blue.png") no-repeat;
}

#review-about .review-profile,
#review-by .review-profile {
    margin-right: 15px;
}

#review-about .review-listing ul li:last-child,
#review-by .review-listing ul li:last-child {
    margin-bottom: 0;
}

.howtopay p a strong {
    font-size: 10.5px;
    color: #47708a;
}

.howtopay p a strong i {
    color: #48a9e7;
    font-size: 11px;
    @include light;
}

.convesation-by h2 a,
.product-main-left h3 a {
    color: #48a9e7;
}

.inbox-left {
    float: right;
    padding-right: 0;
}

.inbox-right {
    padding-left: 0;
}

.inbox-left .tophldr {
    overflow: hidden;
}

.inbox-left .figuredivs {
    width: 65px;
    height: 65px;
}

.inbox-left .clintitle {
    color: #485462;
    font-weight: bold;
    font-size: 13px;
}

.inbox-left .clintitle strong {
    font-weight: normal;
    width: 100%;
    float: left;
    color: $lightgrey;
    font-weight: bold;
    font-size: 11px;
    @include light;
}

.inbox-left .clintitle:after {
    margin-top: 30px;
}

.inbox-left .emailaddresslist>li {
    padding: 0 14.2%;
}

.inbox-left a.vewprobtn {
    display: block;
    clear: both;
    width: 65%;
    margin: 0 auto;
    border: 1px solid #EAEDF2;
}

.inbox-left .emailaddresslist {
    margin-bottom: 10px;
}

.inbox-top .product-main-left {
    margin: 0;
    width: 80%;
}

.inbox-top .product-main-left h3 {
    color: $darkgrey;
    font-size: 13px;
    @include light;
}

.product-main-left h3 a {
    font-weight: bold;
}

.user-from h5 {
    float: left;
    min-width: 130px;
    color: $darkgrey;
    font-size: 11px;
    @include light;
}

.inbox-date {
    float: right;
}

.inbox-date span {
    color: #bcc6d0;
    font-size: 11px;
    @include light;
}

.inbox-top {
    @include float($ltr);
    border-bottom: 1px solid #ECEFF4;
    padding: 30px 25px;
}

.inbox-right .panel-body {
    padding: 0;
}

.inbox-middle {
    @include float($ltr);
    border-bottom: 1px solid #ECEFF4;
    padding: 30px 25px;
}

.approve-decline {
    width: 20%;
    float: left;
    text-align: center;
}

.inbox-middle span {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}

.inbox-middle .input-group {
    float: right;
    width: 76%;
}

.inbox-middle .input-group textarea {
    width: 65%;
    height: 54px;
}

.inbox-middle .input-group span {
    width: auto;
}

.inbox-middle .input-group span button {
    background: #47A9E6;
    padding: 6px 20px;
    font-size: 11px;
}

.inbox-middle .input-group span {
    margin-top: 0;
    padding: 12.5px 12px;
    border-color: #DEE5ED;
}

.approve-decline a {
    border: 1px solid #EAEDF2;
    border-radius: 3px;
    font-size: 10px;
    color: #485462;
    display: inline-block;
    padding: 4px 0;
    padding-left: 15px;
    margin-bottom: 5px;
    width: 90%;
}

a.approve {
    background: #fff url('../images/v1.png') no-repeat;
    background-position: 5% center;
}

a.approve:hover {
    color: #BCE1A4;
}

a.decline {
    background: #fff url('../images/x1.png') no-repeat;
    background-position: 5% center;
}

a.decline:hover {
    color: #EA6060;
}

.inbox-bottom {
    @include float($ltr);
    padding: 30px 25px;
    background: #F8F9FB;
}

.sender img {
    border-radius: 50%;
    width: 5%;
    float: left;
    margin-right: 15px;
}

.comment-sender {
    float: left;
    width: 70%;
}

.me .comment-sender p:before {
    background: url('../images/carret.png') no-repeat;
}

.comment-sender p:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 11px;
    vertical-align: middle;
    position: absolute;
    left: -8px;
    top: 8px;
    color: #fff;
}

.comment-sender p {
    color: $darkgrey;
    font-size: 11px;
    @include light;
    padding: 12px 15px;
    float: left;
    width: auto;
    border-radius: 4px;
    position: relative;
}

.me .comment-sender p {
    border: 1px solid #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.sender h5 {
    @include float($ltr);
}

.sender h5 {
    color: $lightgrey;
    font-size: 11px;
    @include light;
}

.sender h5 span i {
    color: #48a9e7;
    font-weight: bold;
}

.sender h5 span strong {
    margin-right: 10px;
    color: #48a9e7;
}

.sender {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

.other img {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}

.other .comment-sender {
    float: right;
}

.other .comment-sender p {
    float: right;
    border: 1px solid #E8EDF3;
}

.other .comment-sender p:before {
    background: url('../images/carret1.png') no-repeat;
    left: -7px;
}

.other h5 {
    text-align: right;
}

.inbox-middle textarea.form-control:focus {
    border-color: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #DEE5ED !important;
}

.inbox-top {
    position: relative;
}

.inbox-top-hover {
    display: none;
    position: absolute;
    right: 0;
    top: 23%;
}

.inbox-top:hover .inbox-top-hover {
    display: block;
}

.after-approve .approve-decline {
    width: 100%;
}

.after-approve .approve-decline a.approve,
.after-decline .approve-decline a.decline {
    width: auto;
    float: left;
    border: 0;
    background-position: left center;
    font-weight: bold;
}

.after-approve .approve-decline span {
    float: right;
    margin-top: 0;
}

.after-approve .approve-decline span a {
    float: right;
    color: #e97e7e;
    margin: 0;
    border: 0;
    border-radius: 0;
    font-size: 12px;
    padding-left: 0;
    width: auto;
}

.after-approve .input-group {
    float: right;
    width: 100%;
}

.after-approve .input-group textarea {
    width: 73.5%;
}


/**-----------------------------profile1 style------------------------------**/