<p-panel>
    <p-header> {{pageTitle}}

        <input #gb type="text" placeholder="Search">
    </p-header>
    <p-dataTable [value]="bookings" class="" selectionMode="single" [globalFilter]="gb" [rows]="10" [paginator]="true" [(selection)]="selectRow">
        <p-column field="bookingId" [style]="{'width':'160px'}" header="Booking Id"></p-column>
        <p-column field="status" header="Status" [style]="{'width':'120px'}"></p-column>
        <p-column field="productId.Description.Title" header="List Name" [style]="{'width':'160px'}"></p-column>

        <p-column field="status" header="Refund to Guest" [style]="{'width':'120px'}">
            <ng-template let-col let-data="rowData" pTemplate="body">
                <!-- {{data.status}} -->

                <span *ngIf="data.status === 'pending' || data.status === 'Completed' || data.status === 'enquiry' ">Not Eligible</span>
                <span *ngIf="data.status === 'hostdeclined' || data.status === 'userdeclined' ">
                    <span *ngIf="data.refundtoGuest !== 'completed' && data.payment === 'completed'" (click)="proceedrefund(data)"> Proceed Refund </span>
                <span *ngIf="data.refundtoGuest !== 'completed' && data.payment !== 'completed'"> Not Eligible</span>

                <span *ngIf="data.refundtoGuest === 'completed'">completed</span>
                </span>
            </ng-template>
        </p-column>


        <p-column field="pricing" header="Subtotal" [style]="{'width':'100px'}">
            <ng-template let-col let-data="rowData" pTemplate="body">
                {{data.pricing.currency}} {{data.pricing.totalprice}}
            </ng-template>
        </p-column>

        <p-column field="status" header="Payout" [style]="{'width':'120px'}">
            <ng-template let-col let-data="rowData" pTemplate="body">
                <!-- {{data.status}} -->
                <span *ngIf="data.status === 'Completed' || data.status === 'userdeclined'">
                   <span (click)="proceedpayout(data)"  *ngIf="data.payouttoHost !== 'completed'  &&  data.payment === 'completed'"> Ready To Pay</span>
                <span *ngIf="data.payouttoHost === 'completed' "> {{data.payouttoHost}}</span>
                </span>

                <span *ngIf="data.status === 'hostdeclined' || data.status === 'userdeclined' || data.status === 'enquiry' || data.status === 'pending' ">      
                 <div *ngIf="data.payment !== 'completed'">Closed</div>                
                </span>

                <span *ngIf="data.status === 'hostdeclined'">      
                    <div *ngIf="data.payment === 'completed'">Closed</div>                
                   </span>

            </ng-template>
        </p-column>

        <p-column field="status" header="Detais" [style]="{'width':'60px'}">
            <ng-template let-col let-data="rowData" pTemplate="body">

                <a class="btn btn-warning btn-xs"><i class="fa fa-eye"></i></a>

            </ng-template>
        </p-column>
    </p-dataTable>
</p-panel>


<p-dialog [(visible)]="display">
    <p-header>Payout/Refund</p-header>
    <div *ngIf="refundDetails" class="payoutform">
        <ul class="formtype">
            <li>
                <span>Type</span>
                <label>{{refundType}}</label>
            </li>
            <li>
                <span>Amount</span>
                <label>{{refundDetails.pricing.currency}} {{refundDetails.refundAmount}}</label>
            </li>
            <li>
                <span>Receiver</span>
                <label>{{refundDetails.traveller.common.firstName}}</label>
            </li>
        </ul>
        <div class="text-center">
            <button (click)="payoutHost(refundDetails.refundAmount)" class="btn">Confirm</button>
        </div>
    </div>
</p-dialog>