<p-panel>
    <p-header> {{pagetitle}}

        <input #gb type="text" placeholder="Global search">
    </p-header>
    <p-dataTable [value]="users" class="" selectionMode="single" [globalFilter]="gb" [rows]="10" [paginator]="true" [(selection)]="selectRow">
        <p-column field="common.firstName" header="First Name"></p-column>
        <p-column field="common.lastName" header="Last Name"></p-column>

        <p-column field="common.email" header="Email"></p-column>


        <p-column field="status" header="Action" [style]="{'width':'90px'}">
            <ng-template let-col let-data="rowData" pTemplate="body">
                <a class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                <button type="button" (click)="onDelete(data._id)" class="btn btn-warning btn-xs"><i class="fa fa-close"></i></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-panel>