<div class="panel panel-default">
    <div class="panel-heading">
        Transactions
        <!-- <ul class="nav sidednav">
            <li class="active"><a data-toggle="tab" href="#Completedtab">Completed Transactions</a></li>
            <li><a data-toggle="tab" href="#Futuretab">Future Transactions</a></li>
        </ul> -->
    </div>
    <div class="panel-body pad0">
        <div class="tab-content">
            <!---completed tramcs tab section starts-->
            <div id="Completedtab" class="tab-pane fade in active">
                <div class="table-responsive tablecustom datedivcolor">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Transaction Method</th>
                                <th>Transaction Id</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let transaction of transactions">
                                <td>{{transaction.createdAt}}</td>
                                <td>{{transaction.transactionMethod}}</td>
                                <td>{{transaction.transactionId}}</td>
                                <td *ngIf="transaction.pricing.totalprice"> {{transaction.pricing.currency}} {{transaction.pricing.totalprice}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!---completed tramcs tab section end-->
            <!---Futuretab tramcs tab section starts-->
            <div id="Futuretab" class="tab-pane fade">
                <div class="table-responsive tablecustom datedivcolor">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th style="width:50%">Details</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12/1/2015</td>
                                <td>
                                    <a class="mainliks" href="#">Furnished Studio in Marina Square</a>
                                    <span class="dollink">$50.00/Person   Booking #: EN1500900</span>
                                </td>
                                <td>
                                    <ul class="roomlent">
                                        <li><label class="leftrm">Room:</label><span class="rightpric">$100.00</span></li>
                                        <li><label class="leftrm">Service Fee:</label><span class="rightpric">$100.00</span></li>
                                        <li><label class="leftrm">Host Fee:</label><span class="rightpric">$100.00</span></li>
                                        <li class="totle"><label class="leftrm">Total:</label><span class="rightpric blc">$10</span></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>12/1/2015</td>
                                <td>
                                    <a class="mainliks" href="#">Furnished Studio in Marina Square</a>
                                    <span class="dollink">$50.00/Person   Booking #: EN1500900</span>
                                </td>
                                <td>
                                    <ul class="roomlent">
                                        <li><label class="leftrm">Room:</label><span class="rightpric">$100.00</span></li>
                                        <li><label class="leftrm">Service Fee:</label><span class="rightpric">$100.00</span></li>
                                        <li><label class="leftrm">Host Fee:</label><span class="rightpric">$100.00</span></li>
                                        <li class="totle"><label class="leftrm">Total:</label><span class="rightpric blc">$10</span></li>
                                    </ul>
                                </td>

                            </tr>



                            <tr>
                                <td>12/1/2015</td>
                                <td>
                                    <a class="mainliks" href="#">Furnished Studio in Marina Square</a>
                                    <span class="dollink">$50.00/Person   Booking #: EN1500900</span>
                                </td>
                                <td>
                                    <ul class="roomlent">
                                        <li><label class="leftrm">Room:</label><span class="rightpric">$100.00</span></li>
                                        <li><label class="leftrm">Service Fee:</label><span class="rightpric">$100.00</span></li>
                                        <li><label class="leftrm">Host Fee:</label><span class="rightpric">$100.00</span></li>
                                        <li class="totle"><label class="leftrm">Total:</label><span class="rightpric blc">$10</span></li>


                                    </ul>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <!---Futuretab tramcs tab section end-->
        </div>

    </div>


</div>