$theme:#0196E7;
$theme2:#00a699;
$red:#FF5A5F;
$cyan:#32959F;
$greylight:#F5F5F5;
$grey:#CDD0CC;
//text-color
$text:#484848;
$text2:#82888a;
$blue: #0CE9DA;
$blued: #62c2cb;
$blueli: #1da3bf;
$orange:#FF900B;
$ash:#484848;
$ltr: left;
$rtl: right;
$ctr: center;
$basefont:14px;
$theme:#48a9e7;
$red:#FF5A5F;
$cyan:#32959F;
$yellow:#e2a93a;
$greylight:#F5F5F5;
$grey:#CDD0CC;
$white:#fff;
$darkgrey:#485462;
$lightgrey:#8492a1;
//text-color
$text2:#8492a1;
$blue: #222F3C;
$blued: #62c2cb;
$blueli: #1da3bf;
$orange:#FF900B;
$ash:#484848;
$pinkorange: #fc584b;
$ltr: left;
$rtl: right;
$ctr: center;
$basefont:14px;
header {
    height: 50px;
    .nav {
        color: red;
        .a {
            width: 200px;
            &.logo {
                color: #000
            }
        }
    }
}

header .nav a.log {
    height: 50px;
}

header .nav {}