/*----- mixins----------------------------------------------- */


/*----- mixins----------------------------------------------- */

@mixin float($value) {
    float: $ltr;
    width: 100%;
    text-align: $value;
}

@mixin display {
    display: inline-block;
    width: 100%;
    text-align: center;
}

@mixin gradebtn {
    background: #f84074;
    background: -moz-linear-gradient(-45deg, #f84074 0%, #fc584b 100%);
    background: -webkit-linear-gradient(-45deg, #f84074 0%, #fc584b 100%);
    background: linear-gradient(135deg, #f84074 0%, #fc584b 100%);
    color: #fff;
}

@mixin gradsucess {
    background: #00bc93;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #00bc93 0%, #87baae 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #00bc93 0%, #87baae 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #00bc93 0%, #87baae 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


/*----- button mixins----------------------------------------------- */

@mixin appearance($none) {
    -webkit-appearance: $none;
    -moz-appearance: $none;
    -ms-appearance: $none;
    appearance: $none;
}

@mixin transition-duration($value) {
    -webkit-transition-duration: $value;
    -moz-transition-duration: $value;
    -ms-transition-duration: $value;
    transition-duration: $value;
}

@mixin transition-delay($value) {
    -webkit-transition-delay: $value;
    -moz-transition-delay: $value;
    -ms-transition-delay: $value;
    transition-delay: $value;
}


/*----- mixins-------------------------------------- */

a:active {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

.center {
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: $ltr;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.pad0 {
    padding: 0
}

.alignright {
    text-align: $rtl
}

.noborder {
    border: none !important
}


/*----- button mixins----------------------------------------------- */

.btn {
    border: none;
    background: #008489;
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 15px;
    text-transform: capitalize;
    @include regular;
    font-size: 15px;
    &.md {
        padding: 10px 30px;
        font-size: 19px;
        /* float: right; */
        text-shadow: none;
    }
    &:hover {
        // border-bottom: 4px solid $theme;
        // background: lighten($theme, 10%);
        // color: #fff;
    }
}

.borderbtn {
    background: transparent none repeat scroll 0 0;
    border: 1px solid lighten($text2, 20%);
    border-radius: 0px;
    color: $text;
    float: none;
    font-size: 14px;
    font-weight: normal;
    opacity: 1;
    padding: 5px 15px;
}

.borderbtn:hover {
    background: $red;
    border-color: $red;
    color: #fff;
    text-decoration: none;
}

.borderbtn.blue {
    border-color: $blue;
    color: $blue;
}

.borderbtn.blue:hover {
    color: #fff;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../images/caret.png");
    background-position: 93% center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid #ccc;
}

a:hover {
    color: $theme
}

input {
    outline: none
}

button {
    outline: none
}

select {
    outline: none
}


/*----- mixins----------------------------------------------- */


/*----- cheome safri only----------------------------------------------- */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .floamlist>li select.guet {
        text-indent: 30px;
    }
}


/*----- cheome safri only----------------------------------------------- */

.ripplelink {
    display: block;
    float: left;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 0;
}

.ripplelink:hover {
    z-index: 1000;
}

.ink {
    display: block;
    position: absolute;
    background: #ddd;
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.animate {
    -webkit-animation: ripple 0.65s linear;
    -moz-animation: ripple 0.65s linear;
    -ms-animation: ripple 0.65s linear;
    -o-animation: ripple 0.65s linear;
    animation: ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
    }
}

@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
    }
}

@-o-keyframes ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2.5);
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}


/*----- mixins----------------------------------------------- */


/*----- mixins----------------------------------------------- */

@mixin float($value) {
    float: $ltr;
    width: 100%;
    text-align: $value;
}

@mixin display {
    display: inline-block;
    width: 100%;
    text-align: center;
}


/*----- button mixins----------------------------------------------- */

@mixin appearance($none) {
    -webkit-appearance: $none;
    -moz-appearance: $none;
    -ms-appearance: $none;
    appearance: $none;
}

@mixin transition-duration($value) {
    -webkit-transition-duration: $value;
    -moz-transition-duration: $value;
    -ms-transition-duration: $value;
    transition-duration: $value;
}

@mixin transition-delay($value) {
    -webkit-transition-delay: $value;
    -moz-transition-delay: $value;
    -ms-transition-delay: $value;
    transition-delay: $value;
}

@mixin transition-property($value) {
    -webkit-transition-property: $value;
    -moz-transition-property: $value;
    -ms-transition-property: $value;
    transition-property: $value;
}


/*----- mixins-------------------------------------- */

a:active {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

.center {
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: $ltr;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.pad0 {
    padding: 0
}

.alignright {
    text-align: $rtl
}

.noborder {
    border: none !important
}


/*----- button mixins----------------------------------------------- */

.btn {
    border: none;
    // background: $theme;
    @include gradebtn;
    color: #fff;
    padding: 8px 30px;
    border-radius: 3px;
    @include regular;
    font-size: 15px;
    text-transform: capitalize;
    &:hover {
        background: $red;
        // @include regular;
        // background: lighten($theme, 10%);
        color: #fff;
    }
}

.roundbtn {
    display: inline-block;
    border: 1px solid #334353;
    @include regular;
    color: #fff;
    font-size: 13px;
    padding: 12px 40px 15px;
    border-radius: 50px;
}

.borderbtn {
    background: transparent none repeat scroll 0 0;
    border: 1px solid lighten($text2, 20%);
    border-radius: 0px;
    color: $text;
    float: none;
    @include regular;
    font-size: 14px;
    font-weight: normal;
    opacity: 1;
    padding: 5px 15px;
    font-weight: normal;
    display: inline-block;
}

.borderbtn:hover {
    background: $red;
    border-color: $red;
    color: #fff;
    text-decoration: none;
}

.borderbtn.blue {
    border-color: $blue;
    color: $blue;
}

.borderbtn.blue:hover {
    color: #fff;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../images/caret.png");
    background-position: 93% center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid #ccc;
}

a:hover {
    color: $theme
}

input {
    outline: none
}

button {
    outline: none
}

select {
    outline: none
}

.radiostyle {
    float: $ltr;
}


/*----- mixins----------------------------------------------- */


/*----- cheome safri only----------------------------------------------- */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .floamlist>li select.guet {
        text-indent: 30px;
    }
}


/*----- cheome safri only----------------------------------------------- */

.ripplelink {
    display: block;
    float: left;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 0;
}

.ripplelink:hover {
    z-index: 1000;
}

.ink {
    display: block;
    position: absolute;
    background: #ddd;
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.animate {
    -webkit-animation: ripple 0.65s linear;
    -moz-animation: ripple 0.65s linear;
    -ms-animation: ripple 0.65s linear;
    -o-animation: ripple 0.65s linear;
    animation: ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
    }
}

@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
    }
}

@-o-keyframes ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2.5);
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}


/*----- responsive mixins starts----------------------------------------------- */

@mixin tablet991 {
    @media only screen and (max-width: 991px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin phone {
    @media only screen and (max-width: 480px) {
        @content;
    }
}

@mixin phone414 {
    @media only screen and (max-width: 480px) {
        @content;
    }
}

@mixin phone320 {
    @media only screen and (max-width: 480px) {
        @content;
    }
}


/*----- responsive mixins end----------------------------------------------- */