.searchPage {
    app-header,
    app-login-header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9;
        background: #fff;
        .navbar {
            border-bottom: 1px solid rgb(219, 219, 219);
            height: auto;
        }
    }
    .searchFilter {
        position: fixed;
        top: 82px;
        width: 100%;
    }
    app-productarray {
        margin: 22px 0 0 0;
    }
    app-footer {
        display: none
    }
    .productHolder .imageHolds {
        border-radius: 3px;
        height: 275px;
    }
}

app-search {
    padding: 145px 0 0 0;
    float: left;
    width: 100%;
    app-productsingle {
        width: 47.5%;
    }
    .mapsection {
        position: fixed;
        right: 15px;
        z-index: 99;
        width: 447px;
        border-radius: 3px;
        overflow: hidden;
        top: 168px;
        bottom: 15px;
        border: 1px solid #efefef;
    }
    .ui-paginator a {
        color: #555555;
        height: 40px;
        width: 40px;
        margin: 0 3px !important;
        border-radius: 50%;
        line-height: 22px !important;
        padding: 10px 0 0 0 !important;
    }
    .ui-paginator .ui-paginator-pages,
    .ui-paginator .ui-paginator-page {
        padding: 0;
        margin: 0;
        &.ui-state-active {
            background: rgb(0, 132, 137);
            color: #ffffff;
            border-color: rgb(0, 132, 137);
        }
    }
    .ui-paginator {
        margin: 30px 0 40px 0;
        text-align: center;
        padding: .125em;
        background: no-repeat;
        border: none;
    }
}

app-search app-productarray app-productsingle:nth-child(odd) {
    float: $ltr;
    margin-right: 18px;
}

app-search app-productarray app-productsingle:nth-child(even) {
    float: $ltr;
}

app-productarray {
    margin: 20px 0 0 0
}

.searchFilter {
    @include float($ltr);
    background: #fff;
    height: 64px;
    padding: 16px 0;
    border-bottom: 1px solid rgb(219, 219, 219);
    position: relative;
    z-index: 2;
    .filterbtn {
        background: none;
        border: 1px solid #dce0e0;
        color: #000;
        padding: 5px 20px;
        border-radius: 5px;
        position: relative;
        @include light;
    }
}

.moreFilter {
    float: left;
    width: 66%;
    padding: 0 20px;
    position: fixed;
    top: 130px;
    bottom: 0;
    overflow: auto;
    left: 0;
    z-index: 999;
    background: #fff;
}

.submifilte {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #fff;
    left: 0;
    width: 64%;
    padding: 0px 0 10px 0;
    text-align: right;
}

span.filterTilte {
    font-size: 18px;
    color: #484848e6;
    @include float($ltr);
    margin: 0 0 15px 0;
}

.fliterseperatesection {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.searchFilterList .datpick .dropdown-menu {
    width: 644px;
    height: 370px;
    z-index: 4;
    .applybtn {
        position: absolute;
        bottom: 10px;
        right: 20px;
    }
}

.radiotoggle {
    float: $rtl;
    margin: 5px 0 0 0;
    @include light;
}

.searchFilterList {
    @include float($ltr);
    width: auto;
    >li {
        float: $ltr;
        margin: 0 10px 0 0;
    }
    .dropdown-menu {
        width: 394px;
        padding: 24px;
        border-radius: 0px;
    }
}

span.clear {
    color: #008489;
    font-size: 19px;
    margin: 5px 5px 0 0;
    @include light;
    display: inline-block;
}

ul.droplist {
    @include float($ltr);
    li {
        @include float($ltr);
        margin: 0 0 10px 0;
        padding: 0;
        >label {
            float: left;
            font-weight: normal;
            font-size: 18px;
            @include light;
        }
        counter-input {
            float: right;
            @include light;
        }
    }
    p-checkbox label {
        font-weight: normal;
        text-align: left;
        color: $text;
        font-size: 18px;
        @include light;
        margin: 2px 0 2px 0;
    }
}

.DateRangePicker {
    position: relative;
    display: inline-block;
    margin: 0;
    width: 70px;
}

.datpick angular-date-range-picker {
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
    width: 74px;
    top: 0;
    z-index: 99;
    .DateRangePickerInput {
        width: 70px;
        overflow: hidden;
        height: 30px;
        float: left;
        opacity: 0;
        margin: 0px 0 0 -2px;
    }
    .DateRangePicker__picker {
        top: 34px;
        padding: 11px 11px 30px 10px;
        left: 0px !important;
    }
}

// angular-date-range-picker {
//     display: none
// }
// .open angular-date-range-picker {
//     display: block
// }
#toggletbn.open .dropdown-menu {
    display: block;
}

.leftcounterHold {
    float: left;
    >span {
        @include float($ltr);
        @include light;
    }
    >label {
        margin: 0;
        float: left;
        font-weight: normal;
        font-size: 18px;
        @include light;
    }
}

.applybtn {
    float: right;
    color: rgb(0, 132, 137);
    cursor: pointer;
}

.moreFillters .dropdown {
    position: inherit;
}

.moreFilter {
    display: none
}

.dropdown.open .moreFilter {
    display: block
}

ul.droplist span.subtext {
    float: left;
    width: 99%;
    margin: 0 0 0 21px;
    color: #484848;
    @include light;
}

// .gm-style>div>div:last-child>div:last-child>div {
//     width: 380px !important;
// }
// .gm-style>div>div:last-child>div:last-child>div>div>div {
//     max-width: 380px;
//     width: 380px !important;
// }
.radiotoggle>span {
    font-size: 15px;
    float: left;
    margin: 0 11px 0 0;
}

.radiotoggle .ui-inputswitch .ui-inputswitch-on {
    left: 0;
    border: 0 none;
    background: #008489 !important;
    color: #ffffff !important;
    // border: 1px solid;
    // border-radius: 50%;
    // height: 30px;
    // width: 30px;
}

// .ui-inputswitch .ui-inputswitch-on span,
// .ui-inputswitch .ui-inputswitch-off span,
// .ui-inputswitch .ui-inputswitch-on {
//     width: 60px !important;
// }
// .ui-inputswitch {
//     width: 80px !important;
// }
.pricefilter h3 {
    font-weight: normal;
    font-weight: normal;
    font-family: "RobotoLight";
    color: #484848;
    font-size: 20px;
    margin: 0 0 30px 0;
    p-slider {
        @include float($ltr);
    }
}

.pricefilter {
    .applybtn {
        margin: 40px 0 0 0;
    }
    .ui-slider-horizontal {
        height: 5px;
    }
    .ui-slider .ui-slider-range {
        background: #008489;
    }
    .ui-slider .ui-slider-handle {
        border: 1px solid #008489;
        border-radius: 50%;
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
        background: #fff;
        margin: -11px 0 0 -14px;
    }
    p-slider {
        float: left;
        width: 91%;
        margin: 0 0 0 14px;
    }
}

p-gmap {
    .productHolder {
        width: 200px;
    }
    .imageholds {
        float: left;
        width: 100%;
        height: 160px;
        overflow: hidden;
    }
}

app-search.productView {
    .productholds {
        width: 100%;
    }
    .mapholds {
        display: none
    }
    app-productsingle {
        width: 285px;
        .productHolder .imageHolds {
            height: 195px;
        }
    }
}