.fullcontain {
    display: inline-block;
    width: 100%;
    text-align: center
}

.loginHolder {
    width: 450px;
    display: inline-block;
    border: 1px solid #dce0e0;
    padding: 32px;
    margin: 50px 0 50px 0;
    text-align: left;
    .divider {
        @include float($ctr);
        border-top: 1px solid #dce0e0;
        margin: 20px 0 0 0;
        span {
            background: #fff;
            display: inline-block;
            position: relative;
            top: -11px;
            padding: 0 12px;
        }
    }
    .form-control {
        border: 1px solid #dce0e0;
        height: 60px;
        padding: 10px;
        border-radius: 3px;
    }
    &.registerHolder .form-control {
        border: 1px solid #bec3c3;
        height: 40px;
        padding: 10px;
        border-radius: 2px;
    }
    .rememberdiv {
        @include float($ltr);
        .remem {
            float: left;
        }
        a {
            float: right;
            color: #008489;
            margin: 4px 0 0 0;
        }
    }
    .btn-login {
        color: #fff;
        width: 100%;
        border: none;
        background-color: #ff5a5f;
        color: #fff;
        margin: 10px 0 0 0;
        padding: 18px 0;
        &:hover {
            border: none
        }
    }
    .dnthaveaccount {
        padding: 0 30px;
        @include float($ltr);
        span {
            margin: 10px 0 0 0;
            float: left;
        }
        a {
            border: 1px solid #ff5a5f;
            background: #fff;
            color: #ff5a5f;
        }
    }
}

.sociallogin {
    @include float($ctr);
    a {
        @include float($ctr);
        padding: 20px 27px;
        font-size: 15px;
        margin: 0 0 5px 0;
        color: #484848;
        border-radius: 3px;
        border: 1px solid #dce0e0;
        &.fb {
            border-color: #3B5998;
            background-color: #3B5998;
            color: #fff;
        }
    }
}

.regsociallogin {
    @include float($ctr)
}

.birthday select {
    width: 100%;
    padding: 0 9px;
    height: 40px;
}

.airinfo {
    font-size: 12px;
    margin: 10px 0 0 0;
    float: left;
    width: 100%;
}