.adminpage {
    app-login-header,
    app-footer {
        display: none
    }
}

.sideheader {
    text-align: center;
    background: #354052;
    padding: 10px 22px;
    text-align: left;
    font-size: 24px;
    border-bottom: 1px solid #27303e;
    >a {
        color: #f84074;
        text-transform: uppercase;
        font-size: 18px;
    }
}

.maincontentenTop {
    background: #fff;
    float: left;
    width: 100%;
    height: 64px;
    padding: 21px;
    margin: 0 0 15px 0;
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .1);
}

// table
.dashboard {
    background: #f2f3f8;
    .ui-datatable th.ui-state-default {
        background: #fff;
    }
    .ui-datatable .ui-paginator-bottom {
        border-top-width: 0;
        background: #fff;
        border: none;
        padding: 6px 0;
        text-align: right;
    }
    .ui-datatable .ui-datatable-thead>tr>th,
    .ui-datatable .ui-datatable-tfoot>tr>td,
    .ui-datatable .ui-datatable-data>tr>td {
        border-color: inherit;
        box-sizing: border-box;
        text-align: left;
        padding: 8px 10px;
        border-width: 1px;
        border-style: solid;
        border-color: #f2f3f8;
        color: #888;
        background: #fff;
    }
    .ui-datatable .ui-datatable-thead>tr>th {
        border: none;
        // border-bottom: 1px solid #ece9e9;
        /* font-weight: bold; */
        // @include semi;
        // font-size: 15px;
        color: #000;
    }
    p-panel .ui-panel {
        box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
        border: none;
    }
    .ui-widget-header {
        border: 1px solid #f2f3f8;
    }
    .ui-cell-data {
        .btn-xs.btn {
            padding: 0px 6px;
            margin: 0;
            background: none;
            color: #888888;
            border: 1px solid #f2f3f8;
        }
    }
    // modal
    p-dialog[ng-reflect-visible="true"] {
        float: left;
        left: 0;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        background: #00000082;
    }
    p-dialog {
        .btn {
            @include gradebtn;
        }
        .ui-widget-header {
            background: none;
        }
        .bannerGroup {
            @include float($ltr);
            label {
                @include float($ltr);
            }
            p-fileupload {
                @include float($ltr);
                margin: 0 0px 10px 0;
            }
        }
    }
}

.Enable {
    @include gradsucess;
    color: #fff;
    padding: 3px 14px;
    border-radius: 53px;
    font-size: 12px;
}

.Disable {
    border: 1px solid #ddd;
    padding: 3px 11px;
    border-radius: 53px;
    /* background: #eee; */
    /* border-color: #000; */
    font-size: 12px;
}

span.panlTitle {
    float: left;
    margin: 7px 0 0 0;
    font-size: 18px;
}

.payoutform>li>span {
    float: left;
    width: 63px;
}