header {
  height: 50px; }
  header .nav {
    color: red; }
    header .nav .a {
      width: 200px; }
      header .nav .a.logo {
        color: #000; }

header .nav a.log {
  height: 50px; }

@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular.eot") format("embedded-opentype"), url("../fonts/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular.svg#RobotoRegular") format("svg"); }
@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight.eot");
  src: url("../fonts/RobotoLight.eot") format("embedded-opentype"), url("../fonts/RobotoLight.woff2") format("woff2"), url("../fonts/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight.svg#RobotoLight") format("svg"); }
@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold.eot");
  src: url("../fonts/RobotoBold.eot") format("embedded-opentype"), url("../fonts/RobotoBold.woff2") format("woff2"), url("../fonts/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold.svg#RobotoBold") format("svg"); }
@font-face {
  font-family: 'RobotoMedium';
  src: url("../fonts/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium.eot") format("embedded-opentype"), url("../fonts/RobotoMedium.woff2") format("woff2"), url("../fonts/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium.ttf") format("truetype"), url("../fonts/RobotoMedium.svg#RobotoMedium") format("svg"); }
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*----- mixins----------------------------------------------- */
/*----- mixins----------------------------------------------- */
/*----- button mixins----------------------------------------------- */
/*----- mixins-------------------------------------- */
a:active {
  outline: none;
  text-decoration: none; }

a:focus {
  outline: none;
  text-decoration: none; }

.center {
  text-align: center; }

.right {
  float: right; }

.left {
  float: left; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.pad0 {
  padding: 0; }

.alignright {
  text-align: right; }

.noborder {
  border: none !important; }

/*----- button mixins----------------------------------------------- */
.btn {
  border: none;
  background: #008489;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 15px;
  text-transform: capitalize;
  font-family: "RobotoRegular";
  font-size: 15px; }
  .btn.md {
    padding: 10px 30px;
    font-size: 19px;
    /* float: right; */
    text-shadow: none; }

.borderbtn {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #bec5cd;
  border-radius: 0px;
  color: #484848;
  float: none;
  font-size: 14px;
  font-weight: normal;
  opacity: 1;
  padding: 5px 15px; }

.borderbtn:hover {
  background: #FF5A5F;
  border-color: #FF5A5F;
  color: #fff;
  text-decoration: none; }

.borderbtn.blue {
  border-color: #222F3C;
  color: #222F3C; }

.borderbtn.blue:hover {
  color: #fff; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/caret.png");
  background-position: 93% center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 1px solid #ccc; }

a:hover {
  color: #48a9e7; }

input {
  outline: none; }

button {
  outline: none; }

select {
  outline: none; }

/*----- mixins----------------------------------------------- */
/*----- cheome safri only----------------------------------------------- */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .floamlist > li select.guet {
    text-indent: 30px; } }
/*----- cheome safri only----------------------------------------------- */
.ripplelink {
  display: block;
  float: left;
  text-align: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 0; }

.ripplelink:hover {
  z-index: 1000; }

.ink {
  display: block;
  position: absolute;
  background: #ddd;
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

.animate {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -ms-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear; }

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5); } }
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5); } }
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5); } }
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5); } }
/*----- mixins----------------------------------------------- */
/*----- mixins----------------------------------------------- */
/*----- button mixins----------------------------------------------- */
/*----- mixins-------------------------------------- */
a:active {
  outline: none;
  text-decoration: none; }

a:focus {
  outline: none;
  text-decoration: none; }

.center {
  text-align: center; }

.right {
  float: right; }

.left {
  float: left; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.pad0 {
  padding: 0; }

.alignright {
  text-align: right; }

.noborder {
  border: none !important; }

/*----- button mixins----------------------------------------------- */
.btn {
  border: none;
  background: #f84074;
  background: -moz-linear-gradient(-45deg, #f84074 0%, #fc584b 100%);
  background: -webkit-linear-gradient(-45deg, #f84074 0%, #fc584b 100%);
  background: linear-gradient(135deg, #f84074 0%, #fc584b 100%);
  color: #fff;
  color: #fff;
  padding: 8px 30px;
  border-radius: 3px;
  font-family: "RobotoRegular";
  font-size: 15px;
  text-transform: capitalize; }
  .btn:hover {
    background: #FF5A5F;
    color: #fff; }

.roundbtn {
  display: inline-block;
  border: 1px solid #334353;
  font-family: "RobotoRegular";
  color: #fff;
  font-size: 13px;
  padding: 12px 40px 15px;
  border-radius: 50px; }

.borderbtn {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #bec5cd;
  border-radius: 0px;
  color: #484848;
  float: none;
  font-family: "RobotoRegular";
  font-size: 14px;
  font-weight: normal;
  opacity: 1;
  padding: 5px 15px;
  font-weight: normal;
  display: inline-block; }

.borderbtn:hover {
  background: #FF5A5F;
  border-color: #FF5A5F;
  color: #fff;
  text-decoration: none; }

.borderbtn.blue {
  border-color: #222F3C;
  color: #222F3C; }

.borderbtn.blue:hover {
  color: #fff; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/caret.png");
  background-position: 93% center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 1px solid #ccc; }

a:hover {
  color: #48a9e7; }

input {
  outline: none; }

button {
  outline: none; }

select {
  outline: none; }

.radiostyle {
  float: left; }

/*----- mixins----------------------------------------------- */
/*----- cheome safri only----------------------------------------------- */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .floamlist > li select.guet {
    text-indent: 30px; } }
/*----- cheome safri only----------------------------------------------- */
.ripplelink {
  display: block;
  float: left;
  text-align: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 0; }

.ripplelink:hover {
  z-index: 1000; }

.ink {
  display: block;
  position: absolute;
  background: #ddd;
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

.animate {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -ms-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear; }

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5); } }
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5); } }
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5); } }
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5); } }
/*----- responsive mixins starts----------------------------------------------- */
/*----- responsive mixins end----------------------------------------------- */
/** Responsive CSS **/
/* ============================= 1124px ====================== */
@media (max-width: 1174px) {
  .home-container {
    float: left;
    width: 100%;
    text-align: left; }

  .container {
    float: left;
    width: 100%;
    text-align: left; }

  .searchbarform {
    display: inherit;
    float: none;
    margin: 0 auto;
    width: 690px; }

  .floamlist > li input[type="text"],
  .floamlist > li select {
    width: 120px; }

  .floamlist > li input[type="text"].searchtext {
    width: 210px; }

  .floamlist > li select.guet {
    border: medium none;
    color: #82888a;
    line-height: 58px;
    width: 100px; }

  .sliderholder {
    height: auto; }

  .video-tag {
    height: 400px; }

  footer .home-container {
    width: 100%; }

  .footertop {
    padding: 0; }

  .listing-info {
    display: none; }

  .col-md-7.bgwhite {
    width: 100%; } }
/* ============================= 1024px ====================== */
/* ============================= 990 ====================== */
@media (max-width: 990px) {
  .prefooter {
    display: none; }

  .exporetxt li {
    height: 203px; }

  .searchheader {
    width: 55%; }

  .searchheader input[type="text"] {
    text-overflow: ellipsis;
    width: 107px; } }
/* ============================= 990 ====================== */
@media (max-width: 850px) {
  .listspace-container {
    width: 100%;
    padding: 0 20px; } }
/* ============================= 767px ====================== */
@media (max-width: 767px) {
  .curenc-holder {
    display: inline-block;
    width: 100%;
    text-align: center; }

  .curency {
    float: none;
    width: 200px;
    display: inline-block;
    margin: 5px; }

  .headerfullwidth {
    display: none; }

  .menuright {
    float: right;
    color: #48a9e7;
    line-height: 50px;
    font-size: 22px;
    cursor: pointer; }

  .searchbarform {
    display: none; }

  .searchbarform.reponisuve-menu {
    display: block;
    width: 100%; }

  .floamlist > li input.searchtext[type="text"] {
    border: medium none; }

  .footermenu > li > a {
    text-align: center; }

  .footerheadeing {
    text-align: center;
    margin: 20px 0 0; }

  .footer-logo {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-align: center; }
    .footer-logo a {
      display: inline-block;
      width: 200px; }

  .exporetxt li {
    height: auto;
    padding: 0; }

  .mainhead {
    font-size: 20px; }

  .subhead {
    font-size: 15px; }

  .rigmenudisp {
    display: block; }

  header {
    position: static !important; }

  .logocontenet {
    text-align: center;
    width: 100%; }

  .listseplte {
    float: left;
    width: 100%;
    text-align: left; }

  .listiongfooter .col-xs-2.pull-right {
    width: 100%; }

  .listiongfooter {
    text-align: center; }

  .listiongfooter .col-xs-8.pull-right {
    display: inline-block;
    width: 100%;
    text-align: center; }

  .listingpage-full .tab-content {
    height: 91%; }

  .wd45 {
    text-align: left;
    width: 61%; }
    .wd45 input {
      width: 100%; } }
/* ============================= 736px ====================== */
@media (max-width: 736px) {
  .listseplte li {
    float: left;
    width: 100%;
    text-align: left; }
    .listseplte li > input {
      float: left;
      width: 100%;
      text-align: left; }
    .listseplte li button {
      float: left;
      width: 100%;
      text-align: left;
      border: none;
      border-bottom: 1px solid #ccc; }

  .listsidebar > li.listing-sideheadeing {
    display: none; }

  .listsidebar {
    height: 91%; } }
/* ============================= 667px ====================== */
/* ============================= 600px ====================== */
@media (max-width: 600px) {
  .bannertxt-holder {
    margin-bottom: 30px; }

  .responsivemenu {
    width: 75%;
    left: -75%; }

  .listseplte input[type="text"] {
    width: auto; }

  .contentdetailholder {
    padding: 0; }

  .listingleft {
    width: 164px; }

  .listingpage-full .tab-content {
    margin-left: 164px; }

  .listsidebar > li > a {
    font-size: 15px;
    padding: 8px 11px; }

  .listsidebar > li.listing-sideheadeing {
    padding: 8px 11px; }

  .stepstoclose {
    display: none; } }
/* ============================= 568px ====================== */
/* ============================= 480px ====================== */
@media (max-width: 480px) {
  .listingleft {
    position: static;
    width: 100%; }

  .listingpage-full {
    height: auto !important;
    position: static; }

  .listingpage-full .tab-content {
    height: auto;
    margin-left: 0;
    position: static; }

  body {
    overflow: visible !important; } }
/* ============================= 414px ====================== */
/* ============================= 384px ====================== */
/* ============================= 375px ====================== */
@media (max-width: 375px) {
  .wd45 {
    width: 50%; }
    .wd45 > input {
      text-overflow: eclipse; }

  .floamlist > li input.searchtext[type="text"] {
    width: 100%;
    text-overflow: ellipsis; } }
/* ============================= 320px ====================== */

/*# sourceMappingURL=theme-responsive.css.map */
