<div class="productdetailheader">
    <div class="detailContainer">
        <div class="detailnav">
            <ul class="dtl-menu">
                <li><a (click)="scrollable('#ScrollOverview')">Overview</a></li>
                <li><a (click)="scrollable('#ScrollReview')">Reviews</a></li>
                <li><a (click)="scrollable('#ScrollHost')">The Host</a></li>
                <li><a (click)="scrollable('#ScrollLocation')">Location</a></li>
            </ul>
        </div>
    </div>
</div>

<div *ngIf="product.Description">
    <div class="bannerHolder">
        <img *ngIf="product.coverphoto" src="http://localhost:4000/{{product.coverphoto.filename}}" />
        <img *ngIf="!product.coverphoto" src="https://dummyimage.com/1200X500/ccc/444.jpg&text=your+image+goes+here" />

        <span *ngIf="product.coverphoto" (click)="opengallery()" id="viewpicturre" class="viewpic">View Photos</span>
    </div>
    <div class="detailMainSection">
        <div class="detailContainer">
            <div class="detailpagetopsection">
                <div class="col-md-7">
                    <div class="detailnav hide">
                        <ul class="dtl-menu">
                            <li><a (click)="scrollClick('Overview')">Overview</a></li>
                            <li><a href="#">Reviews</a></li>
                            <li><a href="#">The Host</a></li>
                            <li><a href="#">Location</a></li>
                        </ul>
                    </div>
                    <div id="ScrollOverview" class="titlesection">
                        <div class="titles">
                            <div *ngIf="product.Listing.RoomType && product.Listing.ProductType" class="roomdetailType">
                                <span>{{product.Listing.RoomType}} in {{product.Listing.ProductType}}</span>
                            </div>
                            <span class="pro-title">{{product.Description.Title}}</span>
                            <span *ngIf="product.Location.country" class="pro-type">{{product.Location.country}}</span>
                            <ul class="pro-fac">
                                <li><i class="fa fa-user-o"></i><span> {{product.Listing.Accommodates}} guests</span></li>
                                <li><i class="fa fa-home"></i><span> {{product.Rooms.Bedrooms}} bedroom</span></li>
                                <li><i class="fa fa-bed "></i><span> {{product.Rooms.Beds}} bed</span></li>
                                <li><i class="fa fa-bath"></i><span> {{product.Rooms.Bathrooms}} bath</span></li>
                            </ul>
                            <p [ngClass]="showMore ? 'showMore' : ''" class="prodesc">{{product.Description.Summary}} </p>
                            <div [ngClass]="showMore ? '' : 'hide'" class="MoreDetails">
                                <label class="detaildescription-title">The space</label>
                                <p class="prodesc">{{product.extradetails.spacedetail}} </p>
                                <label class="detaildescription-title">Other things to note</label>
                                <p class="prodesc">{{product.extradetails.otherdetail}} </p>
                            </div>
                            <label (click)="showMore = !showMore;" class="readMore">
                                  <span *ngIf="!showMore">Read more about the space<i class="fa fa-angle-down"></i></span>
                                  <span *ngIf="showMore">Hide<i class="fa fa-angle-up"></i></span>
                                </label>
                            <a class="contacthost" *ngIf="product.published" (click)='contactingHost = true'>Contact host</a>
                            <a class="contacthost" *ngIf="!product.published">Contact host</a>


                        </div>
                        <div routerLink="/profile/{{product.host._id}}" class="host-right">
                            <figure class="userimg"><img src="{{product.host.common.photoUrl}}"></figure>
                            <span *ngIf="product.host">{{product.host.common.firstName}}</span>
                        </div>
                    </div>
                    <div class="leftdelsection">
                        <span class="leftdelsectionhead">Amenities</span>
                        <div id="showAmenties" [class.ShowAmenities]="showMoreamen">
                            <ul class="ulhalf">
                                <li *ngFor="let commonAm of product.Amenities.Common"><i class="fa fa-angle-right"></i> {{commonAm}}</li>
                            </ul>
                            <ul class="ulhalf">
                                <li *ngFor="let commonAm of product.Amenities.Additional"><i class="fa fa-angle-right"></i> {{commonAm}}</li>
                            </ul>
                        </div>

                        <label *ngIf="moreAmenities" (click)="showMoreamen = !showMoreamen;" class="readMore">
                                        <span *ngIf="!showMoreamen">More Amenities<i class="fa fa-angle-down"></i></span>
                                        <span *ngIf="showMoreamen">Hide <i class="fa fa-angle-up"></i></span>
                                      </label>


                    </div>

                    <div class="leftdelsection sleepingarangement hide">
                        <span class="leftdelsectionhead">Sleeping arrangements</span>
                        <ul class="ulhalf">
                            <li><i class="fa fa-home"></i><span>Bedroom  {{product.Rooms.Bathrooms}}</span></li>
                        </ul>
                    </div>
                    <div class="leftdelsection">
                        <span class="leftdelsectionhead">House Rules</span>
                        <ul *ngFor="let houserule of product.extradetails.houseruleslist" class="ulfull">
                            <li>{{houserule}}</li>
                        </ul>
                        <div *ngIf="showRules" class="morehouseRule">
                            <p>{{product.extradetails.houserules}}</p>
                        </div>
                        <label (click)="showRules = !showRules;" class="readMore">
                                    <span *ngIf="!showRules">Read All Rules<i class="fa fa-angle-down"></i> </span>
                                    <span *ngIf="showRules">Hide<i class="fa fa-angle-up"></i></span>
                                  </label>
                    </div>
                    <div *ngIf="product.cancellation.cancellationType" class="leftdelsection">
                        <span class="leftdelsectionhead">Cancellation Policy</span>
                        <p>{{product.cancellation.cancellationType.type}}</p>
                        <label>{{product.cancellation.cancellationType.title}}</label>
                        <ul [ngClass]="policylistdisplay ? '' : 'hide'" class="policylist ulfull">
                            <li *ngFor="let policytype of product.cancellation.cancellationType.details">
                                {{policytype}}
                            </li>
                        </ul>

                        <p>Deposit Amount: {{product.Pricing.currency}} {{product.cancellation.deposit}}</p>


                        <label (click)="policylistdisplay = !policylistdisplay;" class="readMore">
                                <span *ngIf="!policylistdisplay">Read more about the Policy<i class="fa fa-angle-down"></i></span>
                                <span *ngIf="policylistdisplay">Hide policy<i class="fa fa-angle-up"></i></span>
                              </label>
                    </div>
                    <!-- revied by -->
                    <div id="ScrollReview" class="leftdelsection">
                        <div *ngIf="reviewrating" class="">
                            <h3 class="totlareviewcount">
                                <span>{{reviewrating.productreviewcount}} Reviews</span>
                                <p-rating [ngModel]="reviewrating.totalproductrating" readonly="true" [cancel]="false"></p-rating>
                            </h3>
                            <ul class="reviewlift">
                                <li>
                                    <span>Accuracy</span>
                                    <p-rating [ngModel]="reviewrating.productaccuracy" readonly="true" [cancel]="false"></p-rating>
                                </li>
                                <li>
                                    <span>Location</span>
                                    <p-rating [ngModel]="reviewrating.productlocation" readonly="true" [cancel]="false"></p-rating>
                                </li>
                                <li>
                                    <span>Communication</span>
                                    <p-rating [ngModel]="reviewrating.productcommunication" readonly="true" [cancel]="false"></p-rating>
                                </li>
                                <li>
                                    <span>Check-in</span>
                                    <p-rating [ngModel]="reviewrating.productcheckin" readonly="true" [cancel]="false"></p-rating>
                                </li>
                                <li>
                                    <span>Cleanliness</span>
                                    <p-rating [ngModel]="reviewrating.productcleanliness" readonly="true" [cancel]="false"></p-rating>
                                </li>
                                <li>
                                    <span>Value</span>
                                    <p-rating [ngModel]="reviewrating.productvalue" readonly="true" [cancel]="false"></p-rating>
                                </li>
                            </ul>

                            <ul *ngIf="reviewlist" class="reviewlist ulfull">
                                <li *ngFor="let reviews of reviewlist">
                                    <div class="ratinguser">
                                        <figure>
                                            <img src="{{reviews.host.common.photoUrl}}" />
                                        </figure>
                                        <div class="aurtordet">
                                            <label>{{reviews.host.common.firstName}}</label>
                                            <span>{{reviews.createdAt | date}}</span>
                                        </div>
                                        <div class="ratingfull">
                                            <p-rating [ngModel]="reviews.productrating" readonly="true" [cancel]="false"></p-rating>

                                        </div>
                                    </div>
                                    <p class="reviewcontent ">{{reviews.productcomment}}</p>




                                    <!-- <p [ngClass]="reviewreadmore ? '' : 'reviewreadmore'" class="reviewcontent ">{{reviews.productcomment}}
                                                    </p>
                    
                                                    <label (click)="reviewreadmore = !reviewreadmore;" class="reviewreadmore">
                                                            <span *ngIf="!reviewreadmore">Read more<i class="fa fa-angle-down"></i></span>
                                                            <span *ngIf="reviewreadmore">Hide<i class="fa fa-angle-up"></i></span>
                                                          </label> -->
                                </li>
                            </ul>

                            <p-paginator class="reviewpaginate" (onPageChange)="paginate($event)" [rows]="2" [totalRecords]="reviewrating.productreviewcount"></p-paginator>
                        </div>
                        <span *ngIf="!reviewrating">
                                    No reviews yet!
                                </span>
                    </div>
                    <div id="ScrollHost" class="leftdelsection">
                        <div class="leftsided">
                            <span class="hostby" *ngIf="product.host">Hosted by <label routerLink="/profile/{{product.host._id}}"> {{product.host.common.firstName}}</label></span>

                            <span *ngIf="product.host.common.liveplace" class="hosterplace">
                                    {{product.host.common.liveplace}} </span>
                            <p *ngIf="product.host.common.description">
                                {{product.host.common.description}}
                            </p>
                            <button type="button" *ngIf="product.published" (click)='contactingHost = true' class="borderbtn">Contact Host</button>
                            <button type="button" *ngIf="!product.published" class="borderbtn">Contact Host</button>
                        </div>
                        <div class="righsided">
                            <figure routerLink="/profile/{{product.host._id}}">
                                <img src="{{product.host.common.photoUrl}}">
                            </figure>
                        </div>
                        <div class="subtret">
                            Always communicate through Hirespace · To protect your payment, never transfer money or communicate outside of the Hirespace website or app. Learn more
                        </div>
                    </div>


                    <div id="ScrollLocation" class="leftdelsection">
                        <div class="mapsection">
                            <span class="hostby">The  neighborhood</span>
                            <br>
                            <p-gmap *ngIf="product.Location" [options]="options" [overlays]="overlays" [style]="{'width':'100%','height':'320px'}"></p-gmap>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="calendersection">
                        <form #bookingForm="ngForm" (ngSubmit)="bookingForm.form.valid && checkout(bookingForm)">
                            <div class="calendertop">
                                <span class="price"><label>$ {{product.Pricing.Baseprice }}</label> per night</span>
                            </div>
                            <div class="calenderMiddle">
                                <span>Dates</span>
                                <angular-date-range-picker required (ngModelChange)="tripdateselect($event)" [(ngModel)]="booking.selectedDateRange" #selectedDateRange="ngModel" [props]="dateRangePickerProps" name="selectedDateRange" id="selectedDateRange" required></angular-date-range-picker>
                                <p class="text-danger">{{this.datepickerErrorMessage}}</p>
                                <div *ngIf="bookingForm.submitted && selectedDateRange.errors" [ngClass]="'error'">
                                    <div *ngIf="selectedDateRange.errors.required" class="help-block"> required.</div>
                                </div>
                                <span>Guests</span>
                                <p-dropdown [options]="accommodates" required [(ngModel)]="booking.accommodate" #accommodate="ngModel" name="accommodate" id="accommodate" required></p-dropdown>
                                <div *ngIf="bookingForm.submitted && accommodate.errors" [ngClass]="'error'">
                                    <div *ngIf=" accommodate.errors.required" class="help-block"> required.</div>
                                </div>
                            </div>
                            <div *ngIf="totalPrice" class="">
                                <ul class="bookingresult">
                                    <li>
                                        <span class="leftbk"> $  {{product.Pricing.Baseprice}} X {{CalculatedDate}} </span>
                                        <span class="pull-right">${{CalculatedDate *  product.Pricing.Baseprice}}</span>
                                    </li>
                                    <li>
                                        <span class="leftbk">  Cleaning Fee </span>
                                        <span class="pull-right">${{product.Pricing.Additionalprice.cleaning}}</span>
                                    </li>
                                    <li>
                                        <span class="leftbk"> Service Fee </span>
                                        <span class="pull-right">${{serviceFee}}  </span>
                                    </li>
                                    <li>
                                        <span class="leftbk"> Total</span>
                                        <span class="pull-right"> $ {{totalPrice}}
                                                </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="calenderbottom">
                                <button *ngIf="product.published" class="btn btn-primary md">Book Now</button>
                                <span *ngIf="!product.published" class="btn btn-primary md">Book Now</span>



                            </div>
                        </form>
                    </div>


                </div>
            </div>
            <div #similarelement *ngIf="similarlisting" class="simlarlisting">
                <span *ngIf="similarlisting.length > 0" class="hostby">Similar listings</span>
                <app-productarray [product]="similarlisting"></app-productarray>

                <!-- <p-carousel [value]="similarlisting">
                    <ng-template let-similarlisting pTemplate="similarlisting">
                        <div *ngIf="similarlisting">
                            <app-productsingle productName="{{similarlisting.Description.Title}}" productImg="{{similarlisting.Photos[0].filename}}" productId="{{similarlisting._id}}" productPrice=" {{similarlisting.Pricing.Baseprice}} ">
                            </app-productsingle>
                        </div>
                    </ng-template>
                </p-carousel> -->

            </div>


        </div>

    </div>
</div>

<div *ngIf="galleryOpen">
    <div *ngIf="gallery" class="imageGallrey">
        <span (click)="closegallery()" class="closeGallery"><i class="fa fa-close"></i></span>
        <p-galleria [images]="gallery" panelWidth="800" panelHeight="500" [showCaption]="true"></p-galleria>
    </div>
</div>



<!-- Modal -->
<div class="modal" #contactingHost *ngIf="contactingHost" id="contactHost" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" (click)="exitcontactingHost()" class="close">&times;</button>
                <h4 class="modal-title">Contact Host</h4>
            </div>
            <div class="modal-body">
                <div class="contctdetail">
                    <div class="contacctdetailMiddle">
                        <h4>When are you traveling?</h4>
                        <form (ngSubmit)="InquiryForm.form.valid && InquiryBooking(InquiryForm , $event);" #InquiryForm="ngForm">
                            <angular-date-range-picker required [props]="dateRangePickerProps" [(ngModel)]="Inquiry.hostselectedDateRange" #hostselectedDateRange="ngModel" name="hostselectedDateRange" id="hostselectedDateRange"></angular-date-range-picker>
                            <br>
                            <div *ngIf="InquiryForm.submitted && hostselectedDateRange.errors" [ngClass]="'error'">
                                <div *ngIf="hostselectedDateRange.errors.required" class="help-block"> required.</div>
                            </div>

                            <p class="text-danger">{{this.datepickerErrorMessage}}</p>
                            <p-dropdown [options]="accommodates" [(ngModel)]="Inquiry.accommodate" #accommodate="ngModel" name="accommodate" id="accommodate" required></p-dropdown>
                            <div *ngIf="InquiryForm.submitted && accommodate.errors" [ngClass]="'error'">
                                <div *ngIf="accommodate.errors.required" class="help-block"> required.</div>
                            </div>
                            <textarea placeholder="Message" required [(ngModel)]="Inquiry.message" #message="ngModel" name="message" id="message" class="form-control"></textarea>
                            <div *ngIf="InquiryForm.submitted && message.errors" [ngClass]="'error'">
                                <div *ngIf="message.errors.required" class="help-block"> required.</div>
                            </div>
                            <button class="btn btn-primary">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>