<!--//////////////////////////////////////////////////Footer section Starts///////////////////-->
<footer>
    <div class="footer">
        <div class="home-container">
            <div class="row">
                <div class="footertop">
                    <div class="col-sm-3 col-xs-12">
                        <div class="curenc-holder">

                            <p-dropdown [options]="currencylist" (onChange)='selectcurrency($event)' [filter]="true" name="Currency"></p-dropdown>

                            <select class="curency">
      <option>English</option>
  </select>


                        </div>

                    </div>

                    <div class="col-sm-3 col-xs-12">
                        <div class="comany-div">
                            <span class="footerheadeing"> Company</span>
                            <ul class="footermenu">

                                <li><a href="#">Cancellation Policy</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Terms-of-Service</a></li>
                            </ul>
                        </div>

                    </div>

                    <div class="col-sm-3 col-xs-12">
                        <div class="comany-div">
                            <span class="footerheadeing"> Discover</span>
                            <ul class="footermenu">

                                <li><a href="#">Trust & Safety</a></li>
                                <li><a href="#">Business Travel</a></li>
                                <li><a href="#">Guidebooks</a></li>
                                <li><a href="#">Airbnbmag</a></li>
                            </ul>
                        </div>

                    </div>



                    <div class="col-sm-3 col-xs-12">
                        <span class="footerheadeing"> Join Us On</span>
                        <ul class="socila-icon">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                        </ul>
                        <div class="footer-logo hide">
                            <a href="#"><img alt="footerlogo" title="footerlogo" src="assets/images/logo.png"></a>
                        </div>
                    </div>
                </div>


                <div class="footerbottom">
                    <div class="">
                        <span class="joinus">© AirbnbClone - Hirespace, Inc.</span>


                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>