<!-- Wishlist -->


<div class="modal wishlistmodal" *ngIf="productdata" id="contactHost" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <div class="wishlistcontainer">
                    <div class="wishlisthalf">
                        <figure class="proImage">
                            <img src="http://localhost:4000/{{productdata.coverphoto.filename}}" />
                        </figure>
                        <div class="usercontainer">
                            <figure class="hosterImage">
                                <img src="{{productdata.host.common.photoUrl}}" />
                            </figure>

                            <h5>{{productdata.Description.Title}}</h5>
                            <span>{{productdata.fulladdress}}</span>
                        </div>
                    </div>
                    <div class="wishlisthalf">
                        <h1 class="wishtitle"> Save to WishList <button class="pull-right" type="button" (click)="productdata = false" class="close">&times;</button> </h1>
                        <ul class="wishlistList" *ngIf="wishlist">
                            <li *ngFor="let list of wishlist">
                                {{list.wishlistName}}

                                <i *ngIf="!list.active" (click)="updatewishlist(list , 'active')" class="fa fa-heart-o">
                                             
                                </i>

                                <i *ngIf="list.active" (click)="updatewishlist(list, 'inactive')" class="fa fa-heart"> </i>

                            </li>
                        </ul>
                        <div class="wishlistbottom">
                            <button type="button" *ngIf="!showwishlistform" (click)="showwishlistform =  true" class="create">
                                Create Wishlist
                            </button>

                            <form *ngIf="showwishlistform" class="wishlistcreateform" #wishlistcreate="ngForm" (ngSubmit)="wishlistcreate.form.valid && wishlistcreateForm(wishlistcreate , $event); wishlistcreate.form.reset()">

                                <input type="text" [(ngModel)]="wishlistcreate.wishlistName" #accommodate="ngModel" name="wishlistName" id="wishlistName" required/>
                                <!-- <div *ngIf="wishlistcreate.submitted && wishlistName.errors" [ngClass]="'error'">
                                    <div *ngIf="wishlistName.errors.required" class="help-block"> required.</div>
                                </div> -->

                                <button class="btn btn-primary">Save</button>
                            </form>

                        </div>

                    </div>
                </div>




            </div>
        </div>

    </div>
</div>